<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title th:text="${title}">page-title</title>
        <style>
            @import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap');
            *{
                font-family: "PT Sans Narrow", sans-serif;
                font-weight: 400;
                font-style: normal;
            }
        </style>
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <script src="https://www.google.com/jsapi"></script>
        <script src="/js/apexcharts.amd.js"></script>
        <script src="/js/apexcharts.common.js"></script>
        <script src="/js/apexcharts.esm.js"></script>
        <script src="/js/apexcharts.esm.js"></script>
        <script src="/js/apexcharts.js"></script>
        <link rel="stylesheet" href="/css/apexcharts.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    </head>
    <body>
        <header th:insert="~{block/header}"></header>
        <nav th:insert="~{block/navbar}"></nav>
        <div th:insert="~{page/main-page}" th:if="${index} == 'main-page'"></div>
        <div th:insert="~{page/user-reg-page}" th:if="${index} == 'user-reg-page'"></div>
        <div th:insert="~{page/login-page}" th:if="${index} == 'login-page'"></div>
        <div th:insert="~{page/profile-page}" th:if="${index} == 'profile-page'"></div>
        <div th:insert="~{page/data-sum-page}" th:if="${index} == 'data-sum-page'"></div>
        <div th:insert="~{page/sport-data-page}" th:if="${index} == 'sport-data-page'"></div>
        <div th:insert="~{page/subject-data-page}" th:if="${index} == 'subject-data-page'"></div>
        <div th:insert="~{page/participant-data-page}" th:if="${index} == 'participant-data-page'"></div>
        <div th:insert="~{page/participant-page}" th:if="${index} == 'participant-page'"></div>
        <footer th:insert="~{block/footer}"></footer>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
        <script>
            let Tooltipelements = document.querySelectorAll("[data-bs-toggle='tooltip']");
            Tooltipelements.forEach((el) => {
                new bootstrap.Tooltip(el);
            });
        </script>
    </body>
</html>