<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title th:text="${title}">page-title</title>
    </head>
    <body>
        <header th:insert="~{block/header}"></header>
        <nav th:insert="~{block/navbar}"></nav>

        <div th:insert="~{page/login-page}" th:if="${index} == 'login-page'"></div>
        <div th:insert="~{page/main-page}" th:if="${index} == 'main-page'"></div>
        <div th:insert="~{page/user-reg-page}" th:if="${index} == 'user-reg-page'"></div>

        <footer th:insert="~{block/footer}"></footer>
    </body>
</html>