<div class="container">
    <div class="row">
        <div class="col">
            <p class="fs-3 text-secondary text-center">Мониторинг соревнования</p>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-8" id="analytics">
            <p id="contest-header" class="fs-3 text-dark">
                Мониторинг и анализ данных спортивного соревнования <span></span> по виду спорт <span></span> среди спортсменов возрастных групп: <span></span> в спортивных дисциплинах: <span></span>.
            </p>
            <p id="contest-ekp" class="fs-5 text-dark">
                Спортивное мероприятие в Едином календарном плане: № <span></span>
            </p>
            <p id="contest-date" class="fs-5 text-dark">
                Сроки проведения: <span></span>
            </p>
            <p id="contest-location" class="fs-5 text-dark">
                Место проведения: <span></span>
            </p>
            <p id="contest-introductory" class="fs-5 text-dark">
                Согласно Положения о межрегиональных и всероссийских официальных спортивных соревнованиях по <span></span> на <span></span> год (далее – Положение о спортивных соревнованиях), Единой всероссийской спортивной классификации, Федеральному стандарту спортивной подготовки по виду спорта <span></span>, официальных протоколов спортивных соревнований и отчета главной судейской коллегии по виду спорта, были сделаны следующие выводы:
            </p>
            <p id="point-1" class="fs-5 text-dark">
                1. Вид спорта <span></span> является базовым для <span></span> субъект(-а /-ов) Российской Федерации.
            </p>
            <p id="point-2-1" class="fs-5 text-dark">
                2. В спортивных соревнованиях <span></span> принял участие спортсменов: <span></span> (участников - <span></span>, участниц - <span></span>) и тренеров (представителей) - <span></span> из <span></span> субъект(-а/ -ов) Российской Федерации, в том числе из <span></span> субъектов Российской Федерации, для которых вид спорта является базовым:<span></span>.
            </p>
            <small id="footnote" class="text-secondary">
                *субъекты Российской Федерации, для которых вид спорта является базовым.
            </small>
            <br>
            <p id="point-2-2" class="fs-5 text-dark"><!-- При 0 значении возможно иная формулировка -->
                По итогам результатов отборочных спортивных соревнований, на спортивных соревнованиях <span></span> отсутствовали спортсмены из <span></span> субъектов Российской Федерации, для которых вид спорта является базовым:
            </p>
            <p id="point-3" class="fs-5 text-dark">
                3. К участию в спортивных соревнованиях <span></span> допускались спортсмены возрастных групп: <span></span>, имеющие спортивные квалификации:<span></span>.
            </p>
            <p id="point-4" class="fs-5 text-dark">
                4. В соответствии с Федеральным стандартом спортивной подготовки по виду спорта <span></span>, спортсмены данного возраста могут проходить спортивную подготовку в группах на следующих этапах спортивной подготовки: <span></span>
            </p>
            <p id="point-5" class="fs-5 text-dark">
                5. Согласно Единой всероссийской спортивной классификации, выполнение для присвоения спортивных разрядов/званий осуществляется: <span></span>.
            </p>
            <p id="point-6-1" class="fs-5 text-dark">
                6. Спортивная квалификация спортсменов первенства России:
            </p>
            <p id="point-6-2" class="fs-5 text-dark">
                <span></span>
            </p>
        </div>
        <div class="col">

        </div>
    </div>
</div>