<div class="container">
    <div class="row">
        <div class="col">
            <p class="fs-3 text-secondary text-center">Мониторинг соревнования</p>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-8" id="analytics">
            <p id="contest-header" class="fs-3 text-dark">
                Мониторинг и анализ данных спортивного соревнования <span th:text="${monitoring.formatContestTitle}"></span> по виду спорта <span th:text="${monitoring.sportTitleLowerCaseInQuotes}"></span> среди спортсменов возрастных групп: <span th:text="${monitoring.formatAgeGroups}"></span> в спортивных дисциплинах: <span th:text="${monitoring.formatDisciplinesInQuotes}"></span>.
            </p>

            <p id="contest-ekp" class="fs-5 text-dark">
                Спортивное мероприятие в Едином календарном плане: № <span th:text="${monitoring.ekp}"></span>
            </p>
            <p id="contest-date" class="fs-5 text-dark">
                Сроки проведения: <span th:text="${monitoring.contestDate}"></span>
            </p>
            <p id="contest-location" class="fs-5 text-dark">
                Место проведения: <span th:text="${monitoring.fullLocation}"></span>
            </p>

            <p id="contest-introductory" class="fs-5 text-dark">
                Согласно Положения о межрегиональных и всероссийских официальных спортивных соревнованиях по виду спорта <span th:text="${monitoring.sportTitleLowerCaseInQuotes}"></span> на <span th:text="${monitoring.beginning.year}"></span> год (далее – Положение о спортивных соревнованиях), Единой всероссийской спортивной классификации, Федеральному стандарту спортивной подготовки по виду спорта <span th:text="${monitoring.sportTitleLowerCaseInQuotes}"></span>, официальных протоколов спортивных соревнований и отчета главной судейской коллегии по виду спорта, были сделаны следующие выводы:
            </p>

            <p id="point-1" class="fs-5 text-dark">
                1. Вид спорта <span th:text="${monitoring.sportTitleLowerCaseInQuotes}"></span> является базовым для <span th:text="${monitoring.subjectMonitoring.subjectsForSportIsBasic.size()}"></span> субъект<span th:text="${monitoring.subjectMonitoring.endingForBaseSportSubjects}"></span> Российской Федерации.
            </p>

            <p id="point-2-1" class="fs-5 text-dark">
                2. В спортивных соревнованиях <span th:text="${monitoring.formatContestTitle}"></span> приняло участие спортсменов: <span th:text="${monitoring.athletesTookPart}"></span> (участников - <span th:text="${monitoring.athletesTookPartBoy}"></span>, участниц - <span th:text="${monitoring.athletesTookPartGirl}"></span>) и тренеров (представителей) - <span th:text="${monitoring.trainerTotal}"></span> из <span th:text="${monitoring.subjectMonitoring.subjectsTookPart.size()}"></span> субъект<span th:text="${monitoring.subjectMonitoring.endingForSubjectsTookPart}"></span> Российской Федерации, в том числе из <span th:text="${monitoring.subjectMonitoring.subjectsTookPartAndSportIsBasic.size()}"></span> субъектов Российской Федерации, для которых вид спорта является базовым: <span th:text="${monitoring.subjectMonitoring.formatSubjectsTookPart}"></span>.
            </p>
            <small id="footnote" class="text-secondary">
                *субъекты Российской Федерации, для которых вид спорта является базовым.
            </small>
            <br>
            <p id="point-2-2" class="fs-5 text-dark" th:if="${monitoring.subjectMonitoring.subjectsDidNotPartAndSportIsBasic.size() != 0}">
                По итогам результатов отборочных спортивных соревнований, на спортивных соревнованиях <span th:text="${monitoring.formatContestTitleInQuotes}"></span> отсутствовали спортсмены из <span th:text="${monitoring.subjectMonitoring.subjectsDidNotPartAndSportIsBasic.size()}"></span> субъект<span th:text="${monitoring.subjectMonitoring.endingForSubjectDidNonTookPartAndSportIsBasic}"></span> Российской Федерации, для которых вид спорта является базовым: <span th:text="${monitoring.subjectMonitoring.formatSubjectDidNotTookPartAndSportIsBasic}"></span>.
            </p>
            <p id="point-2-3" class="fs-5 text-dark" th:if="${monitoring.subjectMonitoring.subjectsDidNotPartAndSportIsBasic.size() == 0}">
                По итогам результатов отборочных спортивных соревнований, на спортивных соревнованиях <span th:text="${monitoring.formatContestTitleInQuotes}"></span> были представлены все спортсмены из всех субъектов Российской Федерации для которых вид спорта <span th:text="${monitoring.sportTitleLowerCaseInQuotes}"></span> является базовым.
            </p>

            <p id="point-3" class="fs-5 text-dark">
                3. К участию в спортивных соревнованиях <span th:text="${monitoring.formatContestTitle}"></span> допускались спортсмены возрастных групп: <span th:text="${monitoring.formatAgeGroups}"></span>, имеющие спортивные квалификации: <span th:text="${monitoring.formatContestQualificationAllow}"></span>.
            </p>

            <p id="point-4" class="fs-5 text-dark">
                4. В соответствии с Федеральным стандартом спортивной подготовки по виду спорта <span th:text="${monitoring.sportTitleLowerCaseInQuotes}"></span>, спортсмены данного возраста могут проходить спортивную подготовку в группах на следующих этапах спортивной подготовки: <span th:text="${monitoring.federalStandard}"></span>
            </p>

            <p id="point-5" class="fs-5 text-dark">
                5. Согласно Единой всероссийской спортивной классификации, выполнение для присвоения спортивных разрядов/званий осуществляется: <span></span>.
            </p>

            <p id="point-6" class="fs-5 text-dark">
                6. Спортивная квалификация спортсменов соревнования <span th:text="${monitoring.formatContestTitle}"></span>:
            </p>
            <p id="point-6-" class="fs-5 text-dark">
                <span></span>
            </p>

            <p id="point-7" class="fs-5 text-dark">
                7. Спортивная квалификация победителей и призеров соревнования <span th:text="${monitoring.formatContestTitle}"></span>:
            </p>
            <p id="point-7-" class="fs-5 text-dark">
                <span></span>
            </p>

            <p id="point-8" class="fs-5 text-dark">
                8. Выполнение (подтверждение) победителями и призерами соревнования <span th:text="${monitoring.formatContestTitle}"></span> спортивной квалификации:
            </p>
            <p id="point-8-">
                <span></span>
            </p>

            <p id="point-9" class="fs-5 text-dark">
                9. Возраст спортсменов – победителей и призеров соревнования <span th:text="${monitoring.formatContestTitle}"></span> составил от <span></span> до <span></span> (<span></span> годов рождения), что <span></span> соответствует требованиям Положения о спортивных соревнованиях.
            </p>

            <p id="point-10" class="fs-5 text-dark">
                10. Победители и призеры соревнования <span th:text="${monitoring.formatContestTitle}"></span> среди субъектов Российской Федерации:
            </p>
            <p id="point-10-1" class="fs-5 text-dark">
                Первое место:
            </p>
            <p id="point-10-1-" class="fs-5 text-dark">
                <span></span>
            </p>
            <p id="point-10-2" class="fs-5 text-dark">
                Второе место:
            </p>
            <p id="point-10-2-" v="fs-5 text-dark">
                <span></span>
            </p>
            <p id="point-10-3" class="fs-5 text-dark">
                Третье место:
            </p>
            <p id="point-10-3-" class="fs-5 text-dark">
                <span></span>
            </p>

            <p id="point-11" class="fs-5 text-dark">
                11. Победители и призеры соревнования <span th:text="${monitoring.formatContestTitle}"></span> в спортивных дисциплинах вида спорта представляли следующие организации, осуществляющие спортивную подготовку в субъектах Российской Федерации:
            </p>
            <div id="point-11-">
                <p class="fs-5 text-dark">
                    <span></span>
                </p>
                <p id="point-11--" class="fs-5 text-dark">
                    <span></span>
                </p>
            </div>
            <p id="point-11-final" class="fs-5 text-dark">
                Детализированная информация о победителях и призерах соревнования <span th:text="${monitoring.formatContestTitleInQuotes}"></span> содержится в официальных протоколах спортивных соревнований, на основе которых создается база данных ФГБУ ФЦПСР для дальнейшего использования в работе.
            </p>
            <p id="point-12" class="fs-5 text-dark">
                12. Спортивное соревнование <span th:text="${monitoring.formatContestTitleInQuotes}"></span> обслуживали, спортивных судей: <span></span> в том числе иногородних: <span></span>.
            </p>
            <p id="point-13" class="fs-5 text-dark">
                13. Квалификационные категории спортивных судей:
            </p>
            <p id="point-13-" class="fs-5 text-dark">
                <span></span>
            </p>
        </div>
        <div class="col">

        </div>
    </div>
</div>