<div class="container">
    <div class="row">
        <div class="col-12">
            <p class="fs-3 text-dark text-center"><strong>Детальная информация по соревнованиям</strong></p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="row m-2">
                <div class="col-3">
                    <div class="input-group">
                        <span class="input-group-text" id="sport-select-label">Спорт</span>
                        <select type="date" id="sport-select" class="form-select" aria-label="sport select" aria-describedby="sport-select-label">
                            <option value="-1">Все</option>
                            <option th:each="sport : ${sports}" th:value="${sport.id}" th:text="${sport.title}"></option>
                        </select>
                    </div>
                </div>
                <div class="col-3">
                    <div class="input-group">
                        <span class="input-group-text" id="start-date-label">с</span>
                        <input type="date" id="start-date" class="form-control" placeholder="Start date" aria-label="Start date" aria-describedby="start-date-label">
                    </div>
                </div>
                <script>
                    // Формируем дату в формате YYYY-MM-DD
                    const startDate = `${new Date().getFullYear()}-01-01`;
                    // Устанавливаем значение по умолчанию для input
                    document.getElementById('start-date').value = startDate;
                </script>
                <div class="col-3">
                    <div class="input-group">
                        <span class="input-group-text" id="end-date-label">по</span>
                        <input type="date" id="end-date" class="form-control" placeholder="End date" aria-label="End date" aria-describedby="end-date-label">
                    </div>
                </div>
                <script>
                    // Формируем дату в формате YYYY-MM-DD
                    const endDate = `${new Date().getFullYear()}-12-31`;
                    // Устанавливаем значение по умолчанию для input
                    document.getElementById('end-date').value = endDate;
                </script>
                <div class="col-3">
                    <input type="button" class="btn btn-outline-secondary w-100" value="Показать" onclick="updateData()">
                </div>
            </div>
        </div>
    </div>
    <div class="row my-4">
        <div class="col-12" id="big-charts">

        </div>
    </div>
    <div class="row row-cols-sm-1 row-cols-dm-2 row-cols-lg-3 g-3" id="charts"></div>
    <div class="row p-0 m-0">
        <div class="col-12 p-0 m-0" id="places-info">

        </div>
    </div>
</div>

<script>
    let colorsSet = [
        '#F46060','#F09872','#F3D179','#DCE8BA',
        '#B0D9B1','#618264','#79AC78',
        '#7BD3EA','#1572A1','#5D6EC7','#9F71DB'
    ];

    window.addEventListener('load', function () {
        setTimeout(() => {
            setupContestChartsByYear(new Date().getFullYear());
        },100);
    });

    function setupContestChartsByYear(year){
        showSpinner();
        $.ajax({
            url:'/api/contest/get/all?year=' + year,
            type:'get',
            success:function (response){
                setupAllData(response);
                hideSpinner();
            }
        });
    }

    function updateData(){
        let charts = $('#charts');
        let start = $('#start-date').val();
        let end = $('#end-date').val();
        let sport = $('#sport-select').val();
        showSpinner();
        $.ajax({
            url:'/api/contest/get/all/by/date',
            type:'get',
            data:{
                start:start,
                end:end,
                sport:sport
            },
            success:function (response){
                charts.empty();
                setupAllData(response);
                hideSpinner();
            }
        });
    }

    function setupAllData(response){
        createChartContestTotal(response);
        createChartParticipantTotal(response);
        createChartOlympicQualifications(response);
        createChartNoOlympicQualifications(response);
        createChartAdaptiveQualifications(response);
        createChartsSportCount(response);
        createPlaceInfoData(response);
    }

    function createChartContestTotal(response){
        let htmlIn = `
                <div class="col-sm-12 col-md-6 col-lg-4 m-auto">
                    <div class="m-2 shadow border rounded-4" style="height: 300px">
                        <div class="row border-bottom mx-1">
                            <div class="col d-flex">
                                <p class="text-center text-uppercase fs-5 text-dark m-auto p-0"><strong>Прошедшие соревнования</strong></p>
                            </div>
                        </div>
                        <div class="row pt-4">
                            <div class="col">
                                <div id="chart-1" class="w-100 h-100"></div>
                            </div>
                        </div>
                    </div>
                </div>
                `;
        $('#charts').append(htmlIn);

        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {

            var data = google.visualization.arrayToDataTable([
                ['Категории видов спорта', 'Количество прошедших соревнований'],
                ['Олимпийские: ' + response.olympic.length, response.olympic.length],
                ['Неолимпийские: ' + response.noOlympic.length, response.noOlympic.length],
                ['Адаптивные: ' + response.adaptive.length, response.adaptive.length]
            ]);

            var options = {
                chartArea: {
                    width: '100%',
                    height: '75%'
                },
                colors: colorsSet
            };

            var chart = new google.visualization.PieChart(document.getElementById('chart-1'));

            chart.draw(data, options);
        }
    }

    function createChartParticipantTotal(response){
        let htmlIn = `
                <div class="col-sm-12 col-md-6 col-lg-4 m-auto">
                    <div class="m-2 shadow border rounded-4" style="height: 300px">
                        <div class="row border-bottom mx-1">
                            <div class="col d-flex">
                                <p class="text-center text-uppercase fs-5 text-dark m-auto p-0"><strong>Участники соревнований</strong></p>
                            </div>
                        </div>
                        <div class="row pt-4">
                            <div class="col">
                                <div id="chart-2" class="w-100 h-100"></div>
                            </div>
                        </div>
                    </div>
                </div>
                `;
        $('#charts').append(htmlIn);

        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            let olTotal = 0;
            response.olympic.forEach(function (o){
                olTotal += o.participantTotal;
            });
            let nolTotal = 0;
            response.noOlympic.forEach(function (no){
                nolTotal += no.participantTotal;
            });
            let adTotal = 0;
            response.adaptive.forEach(function (ad){
                adTotal += ad.participantTotal;
            });

            var data = google.visualization.arrayToDataTable([
                ['Категории видов спорта', 'Количество участников'],
                ['Олимпийских: ' + olTotal, olTotal],
                ['Неолимпийских: ' + nolTotal, nolTotal],
                ['Адаптивных: ' + adTotal, adTotal]
            ]);

            var options = {
                chartArea: {
                    width: '100%',
                    height: '75%'
                },
                pieHole: 0.4,
                colors: colorsSet
            };

            var chart = new google.visualization.PieChart(document.getElementById('chart-2'));

            chart.draw(data, options);
        }
    }

    function createChartOlympicQualifications(response){
        let htmlIn = `
                <div class="col-sm-12 col-md-6 col-lg-4 m-auto">
                    <div class="m-2 shadow border rounded-4" style="height: 300px">
                        <div class="row border-bottom mx-1">
                            <div class="col d-flex">
                                <p class="text-center text-uppercase fs-5 text-dark m-auto p-0"><strong>Участники (Олимпийские)</strong></p>
                            </div>
                        </div>
                        <div class="row pt-4">
                            <div class="col">
                                <div id="chart-3" class="w-100 h-100" style="overflow: visible"></div>
                            </div>
                        </div>
                    </div>
                </div>
                `;
        $('#charts').append(htmlIn);

        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {

            let another = 0;
            let r1 = 0;
            let kms = 0;
            let ms = 0;
            let msmk = 0;
            let zms = 0;

            response.olympic.forEach(function (o){
                zms += o.zms;
                msmk += o.msmk;
                ms += o.ms;
                kms += o.kms;
                r1 += o.r1;
                another += (o.br + o.yn3 + o.yn2 + o.yn1 + o.r3 + o.r2)
            });

            var data = google.visualization.arrayToDataTable([
                ['Квалификации участников', 'Количество участников'],
                ['Заслуженные мастера спорта: ' + zms, zms],
                ['Мастера спорта международного класса: ' + msmk, msmk],
                ['Мастера спорта: ' + ms, ms],
                ['Кандитаты в мастера спорта: ' + kms, kms],
                ['Первого разряда: ' + r1, r1],
                ['Другие: ' + another, another]
            ]);

            var options = {
                chartArea: {
                    width:  '100%',
                    height: '75%'
                },
                pieHole: 0.2,
                colors: colorsSet
            };

            var chart = new google.visualization.PieChart(document.getElementById('chart-3'));

            chart.draw(data, options);
        }
    }

    function createChartNoOlympicQualifications(response){
        let htmlIn = `
                <div class="col-sm-12 col-md-6 col-lg-4 m-auto">
                    <div class="m-2 shadow border rounded-4" style="height: 300px">
                        <div class="row border-bottom mx-1">
                            <div class="col d-flex">
                                <p class="text-center text-uppercase fs-5 text-dark m-auto p-0"><strong>Участники (Неолимпийские)</strong></p>
                            </div>
                        </div>
                        <div class="row pt-5">
                            <div class="col">
                                <div id="chart-4" class="w-100 h-100" style="overflow: visible"></div>
                            </div>
                        </div>
                    </div>
                </div>
                `;
        $('#charts').append(htmlIn);

        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {

            let another = 0;
            let r1 = 0;
            let kms = 0;
            let ms = 0;
            let msmk = 0;
            let zms = 0;

            response.noOlympic.forEach(function (o){
                zms += o.zms;
                msmk += o.msmk;
                ms += o.ms;
                kms += o.kms;
                r1 += o.r1;
                another += (o.br + o.yn3 + o.yn2 + o.yn1 + o.r3 + o.r2)
            });

            var data = google.visualization.arrayToDataTable([
                ['Квалификации участников', 'Количество участников'],
                ['Заслуженные мастера спорта: ' + zms, zms],
                ['Мастера спорта международного класса: ' + msmk, msmk],
                ['Мастера спорта: ' + ms, ms],
                ['Кандитаты в мастера спорта: ' + kms, kms],
                ['Первого разряда: ' + r1, r1],
                ['Другие: ' + another, another]
            ]);

            var options = {
                chartArea: {
                    width:  '100%',
                    height: '75%'
                },
                pieHole: 0.2,
                colors: colorsSet
            };

            var chart = new google.visualization.PieChart(document.getElementById('chart-4'));

            chart.draw(data, options);
        }
    }

    function createChartAdaptiveQualifications(response){
        let htmlIn = `
                <div class="col-sm-12 col-md-6 col-lg-4 m-auto">
                    <div class="m-2 shadow border rounded-4" style="height: 300px">
                        <div class="row border-bottom mx-1">
                            <div class="col d-flex">
                                <p class="text-center text-uppercase fs-5 text-dark m-auto p-0"><strong>Участники (Адаптивные)</strong></p>
                            </div>
                        </div>
                        <div class="row pt-5">
                            <div class="col">
                                <div id="chart-5" class="w-100 h-100" style="overflow: visible"></div>
                            </div>
                        </div>
                    </div>
                </div>
                `;
        $('#charts').append(htmlIn);

        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {

            let another = 0;
            let r1 = 0;
            let kms = 0;
            let ms = 0;
            let msmk = 0;
            let zms = 0;

            response.adaptive.forEach(function (o){
                zms += o.zms;
                msmk += o.msmk;
                ms += o.ms;
                kms += o.kms;
                r1 += o.r1;
                another += (o.br + o.yn3 + o.yn2 + o.yn1 + o.r3 + o.r2)
            });

            var data = google.visualization.arrayToDataTable([
                ['Квалификации участников', 'Количество участников'],
                ['Заслуженные мастера спорта: ' + zms, zms],
                ['Мастера спорта международного класса: ' + msmk, msmk],
                ['Мастера спорта: ' + ms, ms],
                ['Кандитаты в мастера спорта: ' + kms, kms],
                ['Первого разряда: ' + r1, r1],
                ['Другие: ' + another, another]
            ]);

            var options = {
                chartArea: {
                    width:  '100%',
                    height: '75%'
                },
                pieHole: 0.2,
                colors: colorsSet
            };

            var chart = new google.visualization.PieChart(document.getElementById('chart-5'));

            chart.draw(data, options);
        }
    }

    function createChartsSportCount(response){
        let olympic = response.olympic;
        let noOlympic = response.noOlympic;
        let adaptive = response.adaptive;

        let olympicMap = new Map();
        olympic.forEach(function (contest){
            let key = contest.sportTitle;
            let value = olympicMap.get(key);
            if (value) {
                value.push(contest);
            } else {
                value = [contest];
            }
            olympicMap.set(key,value);
        });
        let noOlympicMap = new Map();
        noOlympic.forEach(function (contest){
            let key = contest.sportTitle;
            let value = noOlympicMap.get(key);
            if (value) {
                value.push(contest);
            } else {
                value = [contest];
            }
            noOlympicMap.set(key,value);
        });
        let adaptiveMap = new Map();
        adaptive.forEach(function (contest){
            let key = contest.sportTitle;
            let value = adaptiveMap.get(key);
            if (value) {
                value.push(contest);
            } else {
                value = [contest];
            }
            adaptiveMap.set(key,value);
        });

        let $chartsContainer = $('#big-charts');
        $chartsContainer.empty();
        $chartsContainer.append(`
            <div class="row my-2">
                <div class="col-12">
                    <div class="row p-4">
                        <div class="col-12 border shadow rounded-4" style="height:300px" id="olympic-sport"></div>
                    </div>
                    <div class="row p-4">
                        <div class="col-12 border shadow rounded-4" style="height:300px" id="no-olympic-sport"></div>
                    </div>
                    <div class="row p-4">
                        <div class="col-12 border shadow rounded-4" style="height:300px" id="adaptive-sport"></div>
                    </div>
                </div>
            </div>
        `);

        setupBigCharts('olympic-sport', 'Первенства России по Олимпийским видам спорта', olympicMap);
        setupBigCharts('no-olympic-sport', 'Первенства России по Неолимпийским видам спорта',noOlympicMap);
        setupBigCharts('adaptive-sport', 'Первенства России по Адаптивным видам спорта',adaptiveMap);
    }

    function setupBigCharts(index,title, map){
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            let table = [];
            table[0] = ['Вид спорта'];
            let maxContests = 0;

            map.forEach((value, key) => {
                if (value.length > maxContests) {
                    maxContests = value.length;
                }
            });

            for (let i = 0; i < maxContests; i++) {
                table[0].push({ type: 'number', role: 'data' });
                table[0].push({ type: 'string', role: 'tooltip', p: { html: true, trigger: 'both' } });
            }

            let i = 1;
            map.forEach((value, key) => {
                let row = [key];
                value.forEach(contest => {

                    let allowedMap = new Map();
                    allowedMap.set('BR', contest.br);
                    allowedMap.set('YN1', contest.yn1);
                    allowedMap.set('YN2', contest.yn2);
                    allowedMap.set('YN3', contest.yn3);
                    allowedMap.set('R1', contest.r1);
                    allowedMap.set('R2', contest.r2);
                    allowedMap.set('R3', contest.r3);
                    allowedMap.set('KMS', contest.kms);
                    allowedMap.set('MS', contest.ms);
                    allowedMap.set('MSMK', contest.msmk);
                    allowedMap.set('ZMS', contest.zms);

                    let violationsHtml = Array.from(allowedMap).map(([key, value]) => {
                        let violations = value > 0;

                        if (value > 0) {
                            contest.sports.forEach((aSport) => {
                                aSport.allowedList.forEach((allow) => {
                                    if (allow.category === key) {
                                        violations = false;
                                    }
                                });
                            });
                        }

                        let ageViolations = '';
                        let allowedAgeMap = new Map();
                        allowedAgeMap.set('BR', contest.brDate);
                        allowedAgeMap.set('YN1', contest.yn1Date);
                        allowedAgeMap.set('YN2', contest.yn2Date);
                        allowedAgeMap.set('YN3', contest.yn3Date);
                        allowedAgeMap.set('R1', contest.r1Date);
                        allowedAgeMap.set('R2', contest.r2Date);
                        allowedAgeMap.set('R3', contest.r3Date);
                        allowedAgeMap.set('KMS', contest.kmsDate);
                        allowedAgeMap.set('MS', contest.msDate);
                        allowedAgeMap.set('MSMK', contest.msmkDate);
                        allowedAgeMap.set('ZMS', contest.zmsDate);

                        contest.sports.forEach((aSport) => {
                            aSport.places.forEach((place) => {
                                let birthDate = new Date(place.participant.birthday);
                                let contestStartDate = new Date(contest.beginning);
                                let qualification = place.qualification.category;
                                console.log(qualification);
                                // Вычисляем разницу в годах
                                let age = contestStartDate.getFullYear() - birthDate.getFullYear();
                                // Проверяем, нужно ли уменьшить возраст на 1, если день рождения еще не наступил в текущем году
                                if (
                                    contestStartDate.getMonth() < birthDate.getMonth() ||
                                    (contestStartDate.getMonth() === birthDate.getMonth() && contestStartDate.getDate() < birthDate.getDate())
                                ) {
                                    age--;
                                }
                                let permissionAge = allowedAgeMap.get(qualification);
                                if(age < permissionAge){
                                    ageViolations += `<p class="text-danger">${place.participant.fullName} возраст ${age}, разряд - ${qualification}. Допуск по данному разряду с: ${permissionAge} лет</p>`;
                                }
                            });
                        });

                        let finalViolations = ageViolations;
                        if (violations === true) {
                            finalViolations += `
                                <p class="text-danger">Было допущено ${value} участников категории - ${key}, не входящие в список допущенных</p>
                            `;
                        }
                        return finalViolations;
                    }).join('');

                    row.push(1);
                    row.push(`
                        <div class="container p-4" style="width: 300px; height: 300px; overflow-y: auto">
                            <div class="row">
                                <div class="col">
                                    <p class="fs-6 text-dark">ЕКП: <b>${contest.ekp}</b></p>
                                    <p class="fs-6 text-dark">Приняло участие субъектов: ${contest.subjects.length}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <p class="fs-6 text-secondary">Вид спорта: ${key}</p>
                                    <p class="fs-6 text-secondary">Всего первенств: ${value.length}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col" style="font-size: 10px">
                                    ${violationsHtml}
                                </div>
                            </div>
                        </div>
                    `);
                });
                while (row.length < maxContests * 2 + 1) {
                    row.push(null);
                }
                table[i] = row;
                i++;
            });

            let data = google.visualization.arrayToDataTable(table, false);

            let options = {
                title: title,
                legend: 'none',
                isStacked: true,
                tooltip: { isHtml: true, trigger: 'both' },
                colors: ['#0b4cc5'] // Синий цвет
            };

            let baseSportChart = new google.visualization.ColumnChart(document.getElementById(index));

            baseSportChart.draw(data, options);
        }
    }

    function createPlaceInfoData(response){
        let places = $('#places-info');
        places.empty();
        let innerHTML = `
            <table class="table table-striped table-hover">
                <thead>
                    <th scope="col">#</th>
                    <th scope="col">ФИО</th>
                    <th scope="col">Дата рождения</th>
                    <th scope="col">ЕКП</th>
                    <th scope="col">Вид спорта</th>
                    <th scope="col">Дисциплина</th>
                    <th scope="col">Группа</th>
                    <th scope="col">Место</th>
                    <th scope="col">Школа</th>
                </thead>
                <tbody id="t-body">

                </tbody>
            </table>
        `;
        places.append(innerHTML);
        let contests = response.contests;
        let dataArray = [];
        for(let i=0; i<contests.length; i++){
            let sports = contests[i].sports;
            for(let j=0; j<sports.length; j++){
                let places = sports[j].places;
                for(let k=0; k<places.length; k++){
                    let participant = places[k].participant;
                    let body = {
                        pid: participant.id,
                        fullName: participant.fullName,
                        birthday: participant.birthday,
                        cid: contests[i].id,
                        ekp: contests[i].ekp,
                        sport: contests[i].sport.title,
                        discipline: sports[j].discipline.title,
                        group: sports[j].group.title,
                        place: places[k].place,
                        school: places[k].school.title,
                        subject: places[k].school.subject.title
                    }
                    dataArray.push(body);
                }
            }
        }

        dataArray.sort((a, b) => {
            if (a.fullName < b.fullName) {
                return -1;
            }
            if (a.fullName > b.fullName) {
                return 1;
            }
            return 0;
        });

        let count = 1;
        let tBody = $('#t-body');
        let tempFullName = '';
        let tempBirthday = '';
        dataArray.forEach(function (data){
            let currentCount;
            if(tempFullName === data.fullName && tempBirthday === data.birthday){
                currentCount = '-';
            }else{
                currentCount = count;
            }
            tBody.append(`
                <tr>
                    <th scope="row">${currentCount}</th>
                    <td><a href="/database/participant/${data.pid}/show">${data.fullName}</a></td>
                    <td>${data.birthday}</td>
                    <td><a href="/contest/show?contest=${data.cid}">${data.ekp}</a></td>
                    <td>${data.sport}</td>
                    <td>${data.discipline}</td>
                    <td>${data.group}</td>
                    <td>${data.place}</td>
                    <td>${data.school} - ${data.subject}</td>
                </tr>
            `);
            if(tempFullName !== data.fullName || tempBirthday !== data.birthday){
                count++;
            }
            tempFullName = data.fullName;
            tempBirthday = data.birthday;
        });
    }
</script>