<div class="container">
    <div class="row">
        <div class="col-12 text-center py-5">
            <h1>
                <small class="text-body-secondary">
                    Общее состояние базы данных
                </small>
            </h1>
        </div>
    </div>

    <div class="row px-3 px-lg-0">
        <div class="col my-4 rounded-4 shadow">
            <div id="chart-1"></div>
            <script th:inline="javascript">

                var bsList = [[${baseSportChart}]];
                var titles = [];
                var counts = [];
                var structs = [];
                bsList.forEach((data) => {
                    titles.push(data.title);
                    counts.push(data.count);
                    structs.push({
                        x: data.title,
                        y: data.count
                    })
                });

                var options = {
                    chart: {
                        height: 300,
                        type: 'line',
                    },
                    stroke: {
                        curve: 'smooth',
                    },
                    markers: {
                        size: 5,
                    },
                    title: {
                        text: 'Количество субъектов для которых вид спорта является базовым', // Текст заголовка
                        align: 'left', // Выравнивание заголовка (left, center, right)
                        style: {
                            fontSize: '16px', // Размер шрифта
                            fontWeight: 'bold', // Жирность шрифта
                            color: '#333' // Цвет текста
                        }
                    },
                    series: [{
                        name: 'Вид спорта является базовым в',
                        data: counts
                    }],
                    xaxis: {
                        categories: titles
                    }
                }

                var chart = new ApexCharts(document.querySelector("#chart-1"), options);

                chart.render();
            </script>
        </div>
    </div>

    <div class="row px-3 px-lg-0">
        <div class="col my-4 rounded-4 shadow">
            <div id="chart-2"></div>
            <script th:inline="javascript">

                var bsList = [[${baseSportForSubjectChart}]];
                var titles = [];
                var counts = [];
                bsList.forEach((data) => {
                    titles.push(data.title);
                    counts.push(data.count);
                });

                var options = {
                    chart: {
                        height: 300,
                        type: 'line',
                    },
                    stroke: {
                        curve: 'smooth',
                    },
                    markers: {
                        size: 5,
                    },
                    title: {
                        text: 'Количество базовых видов спорта в субъектах', // Текст заголовка
                        align: 'left', // Выравнивание заголовка (left, center, right)
                        style: {
                            fontSize: '16px', // Размер шрифта
                            fontWeight: 'bold', // Жирность шрифта
                            color: '#333' // Цвет текста
                        }
                    },
                    series: [{
                        name: 'Всего базовых видов спорта в субъекте',
                        data: counts
                    }],
                    xaxis: {
                        categories: titles
                    }
                }

                var chart = new ApexCharts(document.querySelector("#chart-2"), options);

                chart.render();
            </script>
        </div>
    </div>

    <div class="row px-3 px-lg-0">
        <div class="col my-4 rounded-4 shadow">
            <div id="chart-3"></div>
            <script th:inline="javascript">

                var bsList = [[${baseSubjectChart}]];
                var titles = [];
                var counts = [];
                bsList.forEach((data) => {
                    titles.push(data.title);
                    counts.push(data.count);
                });

                var options = {
                    chart: {
                        height: 300,
                        type: 'line',
                    },
                    stroke: {
                        curve: 'smooth',
                    },
                    markers: {
                        size: 5,
                    },
                    title: {
                        text: 'Количество школ в субъектах', // Текст заголовка
                        align: 'left', // Выравнивание заголовка (left, center, right)
                        style: {
                            fontSize: '16px', // Размер шрифта
                            fontWeight: 'bold', // Жирность шрифта
                            color: '#333' // Цвет текста
                        }
                    },
                    series: [{
                        name: 'Всего школ в субъекте',
                        data: counts
                    }],
                    xaxis: {
                        categories: titles
                    }
                }

                var chart = new ApexCharts(document.querySelector("#chart-3"), options);

                chart.render();
            </script>
        </div>
    </div>

    <div class="row row-cols-1 row-cols-lg-2">
        <div class="col-12 col-lg-3 mb-3">
            <ol class="list-group">
                <li id="sportList" class="list-group-item d-flex justify-content-between align-items-start"
                    onclick="showSport()" style="cursor: pointer">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">Виды спорта</div>
                        Информация по видам спорта
                    </div>
                    <span class="badge text-bg-primary rounded-pill" th:text="${dbStat.getSportTotal()}"></span>
                </li>
                <li id="subjectList" class="list-group-item d-flex justify-content-between align-items-start"
                    onclick="showSubject()" style="cursor: pointer">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">Субъекты</div>
                        Информация по субъектам
                    </div>
                    <span class="badge text-bg-primary rounded-pill" th:text="${dbStat.getSubjectTotal()}"></span>
                </li>
                <li id="personList" class="list-group-item d-flex justify-content-between align-items-start"
                    onclick="showPerson()" style="cursor: pointer">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">Участники</div>
                        Информация по участникам финалистам
                    </div>
                    <span class="badge text-bg-primary rounded-pill" th:text="${dbStat.getParticipantTotal()}"></span>
                </li>
            </ol>
        </div>

        <div class="col-12 col-lg-9">
            <div id="sportInfo" class="container" hidden>
                <ul class="list-group">
                    <li class="list-group-item active" aria-current="true">Состояние базы данных "Виды спорта"</li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-4 bg-secondary-subtle">
                                <span>Видов спорта</span>
                            </div>
                            <div class="col-4">
                                <span th:text="${dbStat.getSportTotal()}"></span>
                            </div>
                            <div class="col-4">
                                <span class="muted float-end">
                                     <span id="s-a" data-bs-toggle="tooltip" data-bs-title="Отсутствуют записи в базе данных" hidden><i class="bi bi-database-exclamation fs-4 text-danger"></i></span>
                                </span>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-4 bg-secondary-subtle">
                                <span>Дисциплин</span>
                            </div>
                            <div class="col-4">
                                <span th:text="${dbStat.getDisciplineTotal()}"></span>
                            </div>
                            <div class="col-4">
                                <span class="muted float-end">
                                     <span id="d-a" data-bs-toggle="tooltip" data-bs-title="Отсутствуют записи в базе данных" hidden><i class="bi bi-database-exclamation fs-4 text-danger"></i></span>
                                     <span id="d-w" data-bs-toggle="tooltip" data-bs-title="Дисциплин меньше чем видов спорта - неполнота базы данных" hidden><i class="bi bi-exclamation-square fs-4 text-warning"></i></span>
                                </span>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-4 bg-secondary-subtle">
                                <span>Возрастных групп</span>
                            </div>
                            <div class="col-4">
                                <span th:text="${dbStat.getGroupTotal()}"></span>
                            </div>
                            <div class="col-4">
                                <span class="muted float-end">
                                     <span id="g-a" data-bs-toggle="tooltip" data-bs-title="Отсутствуют записи в базе данных" hidden><i class="bi bi-database-exclamation fs-4 text-danger"></i></span>
                                     <span id="g-w" data-bs-toggle="tooltip" data-bs-title="Возрастных групп меньше чем видов спорта - неполнота базы данных" hidden><i class="bi bi-exclamation-square fs-4 text-warning"></i></span>
                                </span>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="d-grid gap-2 p-2">
                    <a th:href="@{/database/sport/А}" class="btn btn-primary" type="button">Управление записями - "Виды спорта"</a>
                </div>
            </div>
            <div id="subjectInfo" class="container" hidden>
                <ul class="list-group">
                    <li class="list-group-item active" aria-current="true">Состояние базы данных "Субъекты"</li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-4 bg-secondary-subtle">
                                <span>Субъектов</span>
                            </div>
                            <div class="col-4">
                                <span th:text="${dbStat.getSubjectTotal()}"></span>
                            </div>
                            <div class="col-4">
                                <span class="muted float-end">
                                     <span id="sub-a" data-bs-toggle="tooltip" data-bs-title="Отсутствуют записи в базе данных" hidden><i class="bi bi-database-exclamation fs-4 text-danger"></i></span>
                                </span>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-4 bg-secondary-subtle">
                                <span>Школ</span>
                            </div>
                            <div class="col-4">
                                <span th:text="${dbStat.getSchoolTotal()}"></span>
                            </div>
                            <div class="col-4">
                                <span class="muted float-end">
                                     <span id="sch-a" data-bs-toggle="tooltip" data-bs-title="Отсутствуют записи в базе данных" hidden><i class="bi bi-database-exclamation fs-4 text-danger"></i></span>
                                </span>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-4 bg-secondary-subtle">
                                <span>Базовых видов спорта</span>
                            </div>
                            <div class="col-4">
                                <span th:text="${dbStat.baseSportTotal}"></span>
                            </div>
                            <div class="col-4">
                                <span class="muted float-end">
                                     <!--<span id="bs-a" data-bs-toggle="tooltip" data-bs-title="Отсутствуют записи в базе данных" hidden><i class="bi bi-database-exclamation fs-4 text-danger"></i></span>-->
                                </span>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="d-grid gap-2 p-2">
                    <a th:href="@{/database/subject/А}" class="btn btn-primary" type="button">Управление записями - "Субъекты"</a>
                </div>
            </div>
            <div id="personInfo" class="container" hidden>
                <ul class="list-group">
                    <li class="list-group-item active" aria-current="true">Состояние базы данных "Участники"</li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-4 bg-secondary-subtle">
                                <span>Участников</span>
                            </div>
                            <div class="col-4">
                                <span th:text="${dbStat.getParticipantTotal()}"></span>
                            </div>
                            <div class="col-4">
                                <span class="muted float-end">
                                     <span id="p-a" data-bs-toggle="tooltip" data-bs-title="Отсутствуют записи в базе данных" hidden><i class="bi bi-database-exclamation fs-4 text-danger"></i></span>
                                </span>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-4 bg-secondary-subtle">
                                <span>Квалификаций</span>
                            </div>
                            <div class="col-4">
                                <span th:text="${dbStat.getQualificationTotal()}"></span>
                            </div>
                            <div class="col-4">
                                <span class="muted float-end">
                                     <!--<span id="sch-a" data-bs-toggle="tooltip" data-bs-title="Отсутствуют записи в базе данных" hidden><i class="bi bi-database-exclamation fs-4 text-danger"></i></span>-->
                                </span>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="d-grid gap-2 p-2">
                    <a th:href="@{/database/participant/А}" class="btn btn-primary" type="button">Управление записями - "Участники"</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:inline="javascript">
    let sportTotal = [[${dbStat}]].sportTotal;
    let disciplineTotal = [[${dbStat}]].disciplineTotal;
    let groupTotal = [[${dbStat}]].groupTotal;
    let subjectTotal = [[${dbStat}]].subjectTotal;
    let schoolTotal = [[${dbStat}]].schoolTotal;
    let participantTotal = [[${dbStat}]].participantTotal;
    document.getElementById('s-a').hidden = sportTotal !== 0;
    document.getElementById('d-a').hidden = disciplineTotal !== 0;
    document.getElementById('d-w').hidden = disciplineTotal > sportTotal;
    document.getElementById('g-a').hidden = groupTotal !== 0;
    document.getElementById('g-w').hidden = groupTotal > sportTotal;
    document.getElementById('sub-a').hidden = subjectTotal !== 0
    document.getElementById('sch-a').hidden = schoolTotal !== 0
    document.getElementById('p-a').hidden = participantTotal !== 0;

    function showSport() {
        document.getElementById('sportList').setAttribute('class', 'list-group-item d-flex justify-content-between align-items-start active');
        document.getElementById('subjectList').setAttribute('class', 'list-group-item d-flex justify-content-between align-items-start');
        document.getElementById('personList').setAttribute('class', 'list-group-item d-flex justify-content-between align-items-start');

        document.getElementById('sportInfo').hidden = false;
        document.getElementById('subjectInfo').hidden = true;
        document.getElementById('personInfo').hidden = true;
    }

    function showSubject() {
        document.getElementById('sportList').setAttribute('class', 'list-group-item d-flex justify-content-between align-items-start');
        document.getElementById('subjectList').setAttribute('class', 'list-group-item d-flex justify-content-between align-items-start active');
        document.getElementById('personList').setAttribute('class', 'list-group-item d-flex justify-content-between align-items-start');

        document.getElementById('sportInfo').hidden = true;
        document.getElementById('subjectInfo').hidden = false;
        document.getElementById('personInfo').hidden = true;
    }

    function showPerson() {
        document.getElementById('sportList').setAttribute('class', 'list-group-item d-flex justify-content-between align-items-start');
        document.getElementById('subjectList').setAttribute('class', 'list-group-item d-flex justify-content-between align-items-start');
        document.getElementById('personList').setAttribute('class', 'list-group-item d-flex justify-content-between align-items-start active');
        document.getElementById('sportInfo').hidden = true;
        document.getElementById('subjectInfo').hidden = true;
        document.getElementById('personInfo').hidden = false;
    }
</script>