<script th:inline="javascript">
    console.log([[${contest}]]);
</script>

<div class="container">
    <div class="row">
        <div class="col">
            <p class="fs-2 text-secondary">Мониторинг данных</p>
        </div>
    </div>
    <hr>
    <form class="row" id="monitoring-content" th:method="POST" th:action="@{/contest/monitor}" th:object="${monitor}">
        <p class="fs-2 text-dark">
            Мониторинг и анализ данных спортивного соревнования <span th:text="${contest.title}"></span>
            по виду спорта <span th:text="'«' + ${contest.sport.title} + '»'"></span>
            среди спортсменов возрастных групп: <span th:each="d, stat : ${contest.sports}" th:text="'«' + ${d.group.title} + ' (' + ${d.group.minAge} + '-' + ${d.group.maxAge} + ' лет)»' + (${stat.last} ? ' ' : ', ')"></span>
            в спортивных дисциплинах:
            <span th:each="d, stat : ${contest.sports}" th:text="'«' + ${d.discipline.title} + '»' + (${stat.last} ? '.' : ', ')"></span>
        </p>
        <p class="fs-4 text-dark pt-5">
            Спортивное мероприятие в Едином календарном плане: № <span th:text="${contest.ekp}"></span>
        </p>
        <p class="fs-4 text-dark">
            Сроки проведения: <span th:text="${contest.beginningDate} + ' - ' + ${contest.endingDate}"></span>
        </p>
        <p class="fs-4 text-dark">
            Место проведения: <span th:text="${contest.subject.title} + ', г. ' + ${contest.city}"></span>
        </p>

        <p class="fs-4 text-dark pt-4">
            Согласно Положения о межрегиональных и всероссийских официальных спортивных соревнованиях по виду спорта <span th:text="'«' + ${contest.sport.title} + '»'"></span> на <span th:text="${contest.contestYear}"></span> год (далее – Положение о спортивных соревнованиях), Единой всероссийской спортивной классификации, Федеральному стандарту спортивной подготовки по виду спорта <span th:text="'«' + ${contest.sport.title} + '»'"></span>, официальных протоколов спортивных соревнований и отчета главной судейской коллегии по виду спорта, были сделаны следующие выводы:
        </p>

        <p class="fs-4 text-dark pt-4">
            1. Вид спорта <span th:text="'«' + ${contest.sport.title} + '»'"></span> является базовым для <span th:text="${contest.baseSubjectTotal.size()}"></span> субъектов Российской Федерации.
        </p>

        <p class="fs-4 text-dark pt-4">
            2.	В спортивных соревнованиях <span  th:text="${contest.title}"></span> приняло участие спортсменов - <span th:text="${contest.participantTotal}"></span> (<span th:text="'Участников - ' + ${contest.boyTotal}"></span> <span th:text="', участниц - ' + ${contest.girlTotal}"></span>) и тренеров (представителей) -  <span th:text="${contest.trainerTotal}"></span> из <span th:text="${contest.subjects.size()}"></span> субъектов Российской Федерации, в том числе из <span th:text="${contest.baseSubjectIn.size()}"></span> субъектов Российской Федерации, для которых вид спорта является базовым: <span th:each="subject, stat : ${contest.noBaseSubjects}" th:text="${subject.title} + ', '"></span> <span th:each="subject, stat : ${contest.baseSubjectIn}" th:text="${subject.title} + (${stat.last} ? '*.' : '*, ')"></span>
        </p>
        <p>
            <small class="text-dark">
                * субъект Российской Федерации, для которого вид спорта является базовым.
            </small>
        </p>
        <p class="fs-4 text-dark pt-4">
            По итогам результатов отборочных спортивных соревнований, на спортивных соревнованиях <span th:text="'«' + ${contest.title} + '»'"></span> отсутствовали спортсмены из <span th:text="${contest.baseSubjectOut.size()}"></span> субъектов Российской Федерации, для которых вид спорта является базовым: <span th:each="subject, stat : ${contest.baseSubjectOut}" th:text="${subject.title} + (${stat.last} ? '.' : ', ')"></span>
        </p>

        <p class="fs-4 text-dark pt-4">
            3. К участию в спортивных соревнованиях первенства России допускались спортсмены возрастных групп: <span th:each="d, stat : ${contest.sports}" th:text="${d.group.title} + ' (' + ${d.group.minAge} + ' - ' + ${d.group.maxAge} + ' Лет) (' + ${d.group.minAgeYear} + ' – ' + ${d.group.maxAgeYear} + ' годов рождения) , имеющие спортивные квалификации: ' + ${d.allowedString} + (${stat.last} ? '. ' : ', ')" style="width: 100%"></span> <input type="text" placeholder="Дополнительное поле" th:field="*{additionally}" style="width: 100%">
        </p>
        <p class="fs-4 text-dark pt-4">
            4. В соответствии с Федеральным стандартом спортивной подготовки по виду спорта <span th:text="'«' + ${contest.sport.title} + '»'"></span>, спортсмены данного возраста могут проходить спортивную подготовку в группах на следующих этапах спортивной подготовки: <span th:each="d, stat : ${contest.sports}" th:text="${d.standardString} + (${stat.last} ? '. ' : ', ')"></span>
        </p>
        <p class="fs-4 text-dark pt-4">
            5. Согласно Единой всероссийской спортивной классификации, выполнение для присвоения спортивных разрядов/званий осуществляется: <span th:text="${contest.EVSK}" style="width: 100%"></span>
        </p>
        <p class="fs-4 text-dark pt-4">
            6. Спортивная квалификация спортсменов первенства России:
        </p>
        <p class="fs-4 text-dark" th:if="${contest.br} != 0" style="width: 100%">
            <span th:text="'Участников без разряда - ' + ${contest.br}" style="width: 100%"></span>
        </p>
        <p class="fs-4 text-dark" th:if="${contest.yn3} != 0">
            <span th:text="'Участников третьего юнешеского разряда - ' + ${contest.yn3}" style="width: 100%"></span>
        </p>
        <p class="fs-4 text-dark" th:if="${contest.yn2} != 0">
            <span th:text="'Участников второго юнешеского разряда - ' + ${contest.yn2}" style="width: 100%"></span>
        </p>
        <p class="fs-4 text-dark" th:if="${contest.yn1} != 0">
            <span th:text="'Участников первого юнешеского разряда - ' + ${contest.yn1}" style="width: 100%"></span>
        </p>
        <p class="fs-4 text-dark" th:if="${contest.r3} != 0">
            <span th:text="'Участников третьего разряда - ' + ${contest.r3}" style="width: 100%"></span>
        </p>
        <p class="fs-4 text-dark" th:if="${contest.r2} != 0">
            <span th:text="'Участников второго разряда - ' + ${contest.r2}" style="width: 100%"></span>
        </p>
        <p class="fs-4 text-dark" th:if="${contest.r1} != 0">
            <span th:text="'Участников первого разряда - ' + ${contest.r1}" style="width: 100%"></span>
        </p>
        <p class="fs-4 text-dark" th:if="${contest.kms} != 0">
            <span th:text="'Участников кандидатов в мастера спорта - ' + ${contest.kms}" style="width: 100%"></span>
        </p>
        <p class="fs-4 text-dark" th:if="${contest.ms} != 0">
            <span th:text="'Участников мастеров спорта - ' + ${contest.ms}" style="width: 100%"></span>
        </p>
        <p class="fs-4 text-dark" th:if="${contest.msmk} != 0">
            <span th:text="'Участников мастеров спорта международного класса - ' + ${contest.msmk}" style="width: 100%"></span>
        </p>
        <p class="fs-4 text-dark" th:if="${contest.zms} != 0">
            <span th:text="'Участников заслуженных мастеров спорта - ' + ${contest.zms}" style="width: 100%"></span>
        </p>

        <p class="fs-4 text-dark pt-4">
            7. Спортивная квалификация победителей и призеров первенства России:
        </p>
        <p class="fs-4 text-dark" th:each="status, stat : ${contest.statusStart}">
            <span th:text="${status}" style="width: 100%"></span>
        </p>

        <p class="fs-4 text-dark pt-4">
            8.	Выполнение (подтверждение) победителями и призерами первенства России спортивной квалификации:
        </p>
        <p class="fs-4 text-dark" th:each="allow, stat : ${contest.allowedResult}">
            <span th:text="${allow}" style="width: 100%"></span>
        </p>

        <p class="fs-4 text-dark pt-4">
            9. Возраст спортсменов – победителей и призеров первенства России составил
            <span th:text="${contest.ageControl}" style="width: 100%"></span>
        </p>

        <p class="fs-4 text-dark pt-4">
            10.	Победители и призеры первенства России среди субъектов Российской Федерации:
        </p>
        <p class="fs-4 text-dark">
            Первое место:
        </p>
        <p class="fs-4 text-dark" th:each="fp, stat : ${contest.firstSubjects}">
            <span th:text="${fp.title}" style="width: 100%"></span>
        </p>
        <p class="fs-4 text-dark">
            Второе место:
        </p>
        <p class="fs-4 text-dark" th:each="sp, stat : ${contest.secondSubjects}">
            <span th:text="${sp.title}" style="width: 100%"></span>
        </p>
        <p class="fs-4 text-dark">
            Третье место:
        </p>
        <p class="fs-4 text-dark" th:each="lp, stat : ${contest.lastSubjects}">
            <span th:text="${lp.title}" style="width: 100%"></span>
        </p>

        <p class="fs-4 text-dark pt-4">
            11.	Победители и призеры первенства России в спортивных дисциплинах вида спорта представляли следующие организации, осуществляющие спортивную подготовку в субъектах Российской Федерации:
        </p>

        <div th:each="d, stat : ${contest.sports}">
            <p class="fs-4 text-dark pt-4 text-center text-uppercase">
                <span th:text="${d.discipline.title} + ' (' + ${d.group.title} + ' возрастом от ' + ${d.group.minAge} + ' до ' + ${d.group.maxAge} + ')'" style="width: 100%"></span>
            </p>
            <div class="fs-4 text-dark" th:each="p, p_stat : ${d.places}">
                <span th:text="${p.place} + ' Место, ' + ${p.school.title} + ', ' + ${p.school.subject.title}" style="width: 100%"></span>
            </div>
        </div>

        <p class="fs-4 text-dark pt-4">
            Детализированная информация о победителях и призерах первенства России содержится в официальных протоколах спортивных соревнований, на основе которых создается база данных ФГБУ ФЦПСР для дальнейшего использования в работе.
        </p>

        <p class="fs-4 text-dark pt-4">
            12. Спортивные соревнования <span th:text="'«' + ${contest.title} + '»'"></span> обслуживали <span th:text="${contest.judgeTotal}"></span> спортивных судей<span th:text="', в том числе ' + ${contest.nonresidentJudge} + ' иногородних'" th:if="${contest.nonresidentJudge} != 0"></span>.
        </p>

        <p class="fs-4 text-dark pt-4">
            13. Квалификационные категории спортивных судей:
        </p>
        
        <p class="fs-4 text-dark" th:if="${contest.vrc} != 0">
            <span th:text="'всероссийсой категории - ' + ${contest.vrc}"></span>
        </p>
        <p class="fs-4 text-dark" th:if="${contest.fc} != 0">
            <span th:text="'первой категории - ' + ${contest.fc}"></span>
        </p>
        <p class="fs-4 text-dark" th:if="${contest.sc} != 0">
            <span th:text="'второй категории - ' + ${contest.sc}"></span>
        </p>
        <p class="fs-4 text-dark" th:if="${contest.tc} != 0">
            <span th:text="'третьей категории - ' + ${contest.tc}"></span>
        </p>
        <p class="fs-4 text-dark" th:if="${contest.bc} != 0">
            <span th:text="'без категории - ' + ${contest.bc}"></span>
        </p>
        <hr>
        <input type="text" id="monitor" th:field="*{content}" hidden>
        <div class="row pt-4">
            <div class="col">
                <div class="d-grid gap-2 col-6 mx-auto">
                    <button class="btn btn-outline-secondary" type="submit">Отправить</button>
                </div>
            </div>
        </div>
    </form>
    <script>
        document.getElementById('monitor').value = document.getElementById('monitoring-content').innerText;
    </script>
</div>