<div class="container-fluid">
    <div class="row">
        <div class="col"></div>
        <div class="col-6 border broder-primary">
            <div>
                <div class="row bg-primary text-center">
                    <h1>
                        <small class="text-white">
                            Карточка спортсмена<span th:text="' ' + ${participant.getFullName()}"></span>
                        </small>
                    </h1>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="input-group py-2">
                            <span class="input-group-text">Фамилия</span>
                            <input type="text" class="form-control" th:value="${participant.getLastname()}" disabled>
                        </div>
                    </div>
                    <div class="col">
                        <div class="input-group py-2">
                            <span class="input-group-text">Имя</span>
                            <input type="text" class="form-control" th:value="${participant.getName()}" disabled>
                        </div>
                    </div>
                    <div class="col">
                        <div class="input-group py-2">
                            <span class="input-group-text">Отчество</span>
                            <input type="text" class="form-control" th:value="${participant.getMiddleName()}" disabled>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="input-group py-2">
                            <span class="input-group-text">Дата рождения</span>
                            <input type="text" class="form-control" th:value="${participant.getDate()}" disabled>
                        </div>
                    </div>
                    <div class="col">
                        <div class="input-group py-2">
                            <span class="input-group-text">Возраст</span>
                            <input type="text" class="form-control" th:value="${participant.getAge()}" disabled>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <p class="text-center fs-5 bg-warning-subtle">
                        Спортивные организации и регионы в которых состоит спортсмен
                    </p>
                </div>
                <div id="subject-school" class="row">
                    <div class="row" th:each="school : ${participant.getSchools()}">
                        <div class="col">
                            <div class="input-group py-2">
                                <span class="input-group-text">Субъект</span>
                                <input type="text" class="form-control" th:value="${school.getSubject().getTitle()}" disabled>
                            </div>
                        </div>
                        <div class="col">
                            <div class="input-group py-2">
                                <span class="input-group-text">Организация</span>
                                <input type="text" class="form-control" th:value="${school.getTitle()}" disabled>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="subject-school-edit" class="row" hidden>
                    <form th:each="school, stat : ${participant.getSchools()}" class="row" th:method="POST" th:action="@{/database/participant/subject/school/update}" th:object="${participant}">
                        <input th:id="'pid' + ${stat.index}" type="number" th:field="*{id}" hidden>
                        <script th:inline="javascript">
                            document.getElementById('pid' + [[${stat.index}]]).value=[[${participant}]].id;
                        </script>
                        <div class="col">
                            <div class="input-group py-2">
                                <span class="input-group-text">Субъект</span>
                                <input th:id="'old-subject-id' + ${stat.index}" type="number" th:field="*{oldSubjectId}" hidden>
                                <select th:id="${stat.index}" class="form-select" th:field="*{subjectId}" onchange="setupSchools(this.id)">
                                    <option th:each="subject : ${subjects}" th:value="${subject.getId}" th:text="${subject.getTitle()}"></option>
                                </select>
                                <script th:inline="javascript">
                                    document.getElementById('old-subject-id' + [[${stat.index}]]).value = [[${school.getSubject()}]].id;
                                    document.getElementById([[${stat.index}]]).value = [[${school.getSubject()}]].id;

                                    window.addEventListener('load', function () {
                                        for(let i=0; i<[[${subjects}]].length; i++){
                                            if([[${subjects}]][i].id == [[${school.getSubject()}]].id){
                                                $('#school-select' + [[${stat.index}]]).html('');
                                                [[${subjects}]][i].schools.forEach((school) => {
                                                    $('#school-select' + [[${stat.index}]]).append(
                                                        '<option value="' + school.id + '">' + school.title + '</option>'
                                                    );
                                                })
                                            }
                                        }
                                        document.getElementById('school-select' + [[${stat.index}]]).value = [[${school}]].id;
                                    })

                                    function setupSchools(id){
                                        for(let i=0; i < [[${subjects}]].length; i++){
                                            if([[${subjects}]][i].id == document.getElementById(id).value){
                                                $('#school-select' + id).html('');
                                                [[${subjects}]][i].schools.forEach((school) => {
                                                    $('#school-select' + id).append(
                                                        '<option value="' + school.id + '">' + school.title + '</option>'
                                                    );
                                                })
                                            }
                                        }
                                    }
                                </script>
                            </div>
                        </div>
                        <div class="col">
                            <div class="input-group py-2">
                                <span class="input-group-text">Организация</span>
                                <input th:id="'old-school-id' + ${stat.index}" type="number" th:field="*{oldSchoolId}" hidden>
                                <script th:inline="javascript">
                                    document.getElementById('old-school-id' + [[${stat.index}]]).value = [[${school}]].id;
                                </script>
                                <select th:id="'school-select' + ${stat.index}" class="form-select" th:field="*{schoolId}">
                                </select>
                            </div>
                        </div>
                        <div class="col">
                            <div class="d-grid py-2">
                                <input class="btn btn-primary" type="submit" value="Обновить">
                            </div>
                        </div>
                    </form>
                </div>
                <div id="subject-school-edit-2" class="row" hidden>
                    <form class="row" th:method="POST" th:action="@{/database/participant/subject/school/add}" th:object="${participant}">
                        <input id="pid-2" type="number" th:field="*{id}" hidden>
                        <script th:inline="javascript">
                            document.getElementById('pid-2').value=[[${participant}]].id;
                        </script>
                        <div class="col">
                            <div class="input-group py-2">
                                <span class="input-group-text">Субъект</span>
                                <select id="subject-select-2" class="form-select" th:field="*{subjectId}" onchange="setupSchools2()">
                                    <option th:each="subject : ${subjects}" th:value="${subject.getId}" th:text="${subject.getTitle()}"></option>
                                </select>
                                <script th:inline="javascript">
                                    window.addEventListener('load', function () {
                                        let subjectId = document.getElementById('subject-select-2').value;
                                        let subjects = [[${subjects}]];
                                        for(let i=0; i<subjects.length; i++){
                                            if(subjects[i].id == subjectId){
                                                $('#school-select-2').html('');
                                                subjects[i].schools.forEach((school) => {
                                                    $('#school-select-2').append(
                                                        '<option value="' + school.id + '">' + school.title + '</option>'
                                                    );
                                                })
                                            }
                                        }
                                    })
                                    function setupSchools2(){
                                        let subjectId = document.getElementById('subject-select-2').value;
                                        let subjects = [[${subjects}]];
                                        for(let i=0; i<subjects.length; i++){
                                            if(subjects[i].id == subjectId){
                                                $('#school-select-2').html('');
                                                subjects[i].schools.forEach((school) => {
                                                    $('#school-select-2').append(
                                                        '<option value="' + school.id + '">' + school.title + '</option>'
                                                    );
                                                })
                                            }
                                        }
                                    }
                                </script>
                            </div>
                        </div>
                        <div class="col">
                            <div class="input-group py-2">
                                <span class="input-group-text">Организация</span>
                                <select id="school-select-2" class="form-select" th:field="*{schoolId}">
                                </select>
                            </div>
                        </div>
                        <div class="col">
                            <div class="d-grid py-2">
                                <input class="btn btn-primary" type="submit" value="Добавить">
                            </div>
                        </div>
                    </form>
                </div>
                <div id="ss-edit-button" class="row">
                    <div class="d-grid py-2">
                        <button class="btn btn-warning" type="button" onclick="ssEdit()">Редактировать</button>
                    </div>
                </div>
                <div id="ss-back-button" class="row" hidden>
                    <div class="d-grid py-2">
                        <button class="btn btn-warning" type="button" onclick="ssGoBack()">Назад</button>
                    </div>
                </div>
                <script th:inline="javascript">
                    function ssEdit(){
                        document.getElementById('subject-school').hidden = true;
                        document.getElementById('subject-school-edit').hidden = false;
                        document.getElementById('subject-school-edit-2').hidden = false;
                        document.getElementById('ss-edit-button').hidden = true;
                        document.getElementById('ss-back-button').hidden = false;
                    }
                    function ssGoBack(){
                        document.getElementById('subject-school').hidden = false;
                        document.getElementById('subject-school-edit').hidden = true
                        document.getElementById('subject-school-edit-2').hidden = true;
                        document.getElementById('ss-edit-button').hidden = false;
                        document.getElementById('ss-back-button').hidden = true;
                    }
                </script>
                <div class="row">
                    <p class="text-center fs-5 bg-success-subtle">
                        Квалификации спортсмена
                    </p>
                </div>
                <div class="row" th:each="q : ${participant.getQualifications()}">
                    <div class="col">
                        <div class="input-group py-2">
                            <span class="input-group-text">Разряд</span>
                            <input type="text" class="form-control" th:value="${q.getCategory.getTitle()}" disabled>
                        </div>
                    </div>
                    <div class="col">
                        <div class="input-group py-2">
                            <span class="input-group-text">Вид спорта</span>
                            <input type="text" class="form-control" th:value="${q.getSport().getTitle()}" disabled>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="d-grid py-2">
                        <button class="btn btn-success" type="button">Редактировать</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>