<div class="container">
    <div class="row row-cols-sm-1 row-cols-md-1 row-cols-lg-2">
        <div class="col-12 col-lg-3 m-0 p-2">
            <div class="row m-0 p-0">
                <div class="col shadow rounded-4 p-2" id="user-field">

                </div>
            </div>
        </div>
        <div class="col-12 col-lg-9 m-0 p-2">
            <div class="row m-0 p-0">
                <div class="col shadow rounded-4 p-2" id="action-menu">

                </div>
            </div>
        </div>
    </div>
</div>

<script src="/js/profile.validation.js"></script>
<script th:inline="javascript">
    let user = [[${user}]];
    let role_admin = [[${admin}]];
    let role_manager = [[${manager}]];
    let roles = [[${roles}]];

    let $userInfo = $('#user-field');
    let userHtml = `
        <div class="input-group mb-3">
            <span class="input-group-text"><i class="bi bi-person-circle fs-4"></i></span>
            <input type="text" class="form-control text-center" placeholder="Имя пользователя" aria-label="Username" aria-describedby="basic-addon1" value="${user.username}" disabled readonly>
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text"><i class="bi bi-envelope-at fs-4"></i></span>
            <input type="email" class="form-control text-center" placeholder="Ваша почта" aria-label="Confirm" aria-describedby="basic-addon1" value="${user.email}" disabled readonly>
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text"><i class="bi bi-gear fs-4"></i></span>
            <input type="text" class="form-control text-center" placeholder="Ваша почта" aria-label="Confirm" aria-describedby="basic-addon1" value="${user.role}" disabled readonly>
        </div>
        <div class="input-group">
            <span class="input-group-text"><i class="bi bi-pass fs-4"></i></span>
            <input type="submit" class="form-control rounded-end-2" aria-label="Confirm" aria-describedby="basic-addon1" value="Сменить пароль" data-bs-toggle="modal" data-bs-target="#changePassword">

            <div class="modal fade" id="changePassword" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="changePasswordLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">

                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="changePasswordLabel">Окно смены пароля</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>

                        <div class="modal-body">
                            <div class="row mb-2">
                                <div class="col-12 form-floating">
                                    <input type="password" class="form-control" id="old" placeholder="old" oninput="passwordValidation()">
                                    <label class="ms-2" for="old">Старый пароль</label>
                                    <div class="valid-feedback">
                                        <p id="old-valid" class="text-center">Отлично!</p>
                                    </div>
                                    <div class="invalid-feedback">
                                        <p id="old-invalid" class="text-center">Не может быть пустым!</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-12 form-floating">
                                    <input type="password" class="form-control" id="new" placeholder="new" oninput="passwordValidation()">
                                    <label class="ms-2" for="new">Новый пароль</label>
                                    <div class="valid-feedback">
                                        <p id="new-valid" class="text-center">Отлично!</p>
                                    </div>
                                    <div class="invalid-feedback">
                                        <p id="new-invalid" class="text-center">Не может быть пустым!</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 form-floating">
                                    <input type="password" class="form-control" id="repeat" placeholder="repeat" oninput="passwordValidation()">
                                    <label class="ms-2" for="repeat">Повторите новый пароль</label>
                                    <div class="valid-feedback">
                                        <p id="repeat-valid" class="text-center">Отлично!</p>
                                    </div>
                                    <div class="invalid-feedback">
                                        <p id="repeat-invalid" class="text-center">Не может быть пустым!</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-link m-0 px-1" data-bs-dismiss="modal"><i class="bi bi-x-circle text-danger fs-4"></i></button>
                            <button type="button" class="btn btn-link m-0 px-1" id="changePasswordButton"><i class="bi bi-check-circle text-success fs-4"></i></button>
                        </div>

                    </div>
                </div>
            </div>

        </div>
        ${role_admin ? `
            <div class="row mt-2">
                <div class="col d-flex">
                    <button class="btn btn-link link-dark text-decoration-none m-auto"><i class="bi bi-person-lines-fill fs-4 m-auto" onclick="showAllUsers()"></i></button>
                </div>
                <div class="col d-flex">
                    <button class="btn btn-link link-dark text-decoration-none m-auto"><i class="bi bi-person-fill-add fs-4 m-auto"></i></button>
                </div>
            </div>
        ` : ''}
    `;
    $userInfo.append(userHtml);

    let $changePasswordButton = $('#changePasswordButton');
    $changePasswordButton.on('click',() => {
        passwordValidation();

        let $old = $('#old');
        let $new = $('#new');
        let $confirm = $('#repeat');


        if($old.hasClass('is-invalid') || $new.hasClass('is-invalid') || $confirm.hasClass('is-invalid')){
            return;
        }

        $.ajax({
            url:'/api/account/user/password/update',
            type:'get',
            data: {
                password: $new.val()
            },
            success: function(response) {
                if (response.object) {
                    let $passwordModal = $('#changePassword');
                    $passwordModal.modal('hide');
                    $passwordModal.on('hidden.bs.modal', () => {
                        // Очистка всех полей ввода вручную
                        $old.val('');
                        $new.val('');
                        $confirm.val('');
                        // Сброс классов валидации
                        $old.removeClass('is-valid is-invalid');
                        $new.removeClass('is-valid is-invalid');
                        $confirm.removeClass('is-valid is-invalid');
                    });
                    showToast('Успех', response.message);
                } else {
                    showToast('Ошибка', response.message);
                }
            },
            error: function(xhr, status, error) {
                let response = xhr.responseJSON;
                if (response && response.message) {
                    showToast('Ошибка', response.message);
                } else {
                    showToast(status, error + ': ' + xhr.responseText);
                }
            }
        });
    })

    let $actionMenu = $('#action-menu');
    let actionHtml = `
        ${role_admin ? `
            ${showAllUsers()}
        `
        : role_manager ? `
            <div class="row">
                <div class="col d-flex">
                    <p class="m-auto p-5 fs-4 text-dark">"На данный момент для роли менеджера доступна только смена пароля."</p>
                </div>
            </div>
        `
        : `
            <div class="row">
                <div class="col d-flex">
                    <p class="m-auto p-5 fs-4 text-dark">"На данный момент для роли пользователя доступна только смена пароля."</p>
                </div>
            </div>
        `}
    `;
    $actionMenu.append(actionHtml);

    function showAllUsers(){
        var $field = $('#action-menu');
        $.ajax({
            url:'/api/account/user/get/all',
            type: 'get',
            success: (response) => {
                console.log(response);
                $field.empty();
                var html = `
                    <div class="row">
                        <div class="col-12 d-flex">
                            <p class="fs-4 m-auto">Список пользователей</p>
                        </div>
                    </div>
                    <div class="row p-3" id="user-list">

                    </div>
                `;
                $field.append(html);
                var $userList = $('#user-list');
                response.forEach((user) => {
                    $userList.append(`
                        <div class="col-12" id="user-${user.id}">
                            <div class="row row-cols-4">
                                <div class="col d-flex border-end">
                                    <p class="my-auto" id="user-username-${user.id}">${user.username}</p>
                                </div>
                                <div class="col d-flex border-end">
                                    <p class="my-auto" id="user-email-${user.id}">${user.email}</p>
                                </div>
                                <div class="col d-flex border-end">
                                    <p class="my-auto" id="user-role-${user.id}">${user.role}</p>
                                </div>
                                <div class="col btn-group d-flex p-2">
                                    <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#user-edit-${user.id}"><i class="bi bi-pencil-fill"></i></button>

                                    <div class="modal fade" id="user-edit-${user.id}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="user-edit-label-${user.id}" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h1 class="modal-title fs-5" id="user-edit-label-${user.id}">
                                                        Редактировать пользователя <b>${user.username}</b>
                                                    </h1>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="row g-2">
                                                        <div class="col-12 form-floating">
                                                            <input type="text" class="form-control" id="username-${user.id}" placeholder="username" value="${user.username}">
                                                            <label class="ms-2" for="username-${user.id}">username</label>
                                                            <div class="valid-feedback" id="username-valid-${user.id}"></div>
                                                            <div class="invalid-feedback" id="username-invalid-${user.id}"></div>
                                                        </div>
                                                        <div class="col-12 form-floating">
                                                            <input type="text" class="form-control" id="email-${user.id}" placeholder="email" value="${user.email}">
                                                            <label class="ms-2" for="email-${user.id}">email</label>
                                                            <div class="valid-feedback" id="email-valid-${user.id}"></div>
                                                            <div class="invalid-feedback" id="email-invalid-${user.id}"></div>
                                                        </div>
                                                        <div class="col-12 form-floating">
                                                            <select class="form-select" id="user-role-list-${user.id}">
                                                                ${roles.map((role) => {
                                                                    return `
                                                                        <option value="${role}">${role}</option>
                                                                    `;
                                                                }).join('')}
                                                            </select>
                                                            <label class="ms-2" for="user-role-${user.id}">Роль</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-link link-danger text-decoration-none m-0 p-1 fs-4" data-bs-dismiss="modal"><i class="bi bi-x-circle"></i></button>
                                                    <button type="button" class="btn btn-link link-success text-decoration-none m-0 p-1 fs-4" onclick="updateUser('${user.id}')"><i class="bi bi-check-circle"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <button type="button" class="btn btn-outline-secondary"><i class="bi bi-trash-fill"></i></button>
                                </div>
                            </div>
                        </div>
                    `);
                });
            }
        });
    }

    function updateUser(id) {
        var username = $('#username-' + id).val();
        var email = $('#email-' + id).val();
        var role = $('#user-role-list-' + id).val();

        $.ajax({
            url:'/api/account/user/update',
            type: 'post',
            contentType: 'application/json',
            data: JSON.stringify({
                id: id,
                username: username,
                email: email,
                role: role,
            }),
            beforeSend: function (xhr) {
                xhr.setRequestHeader(csrf.headerName, csrf.token);
            },
            success: (response) => {
                console.log(response.message, response.object);
                var $modal = $('#user-edit-' + id);
                $modal.modal('hide');
                $('#user-username-' + id).text(response.object.username);
                $('#user-email-' + id).text(response.object.email);
                $('#user-role-' + id).text(response.object.role);
            },
            error: function(xhr, status, error) {
                console.log(status,error);
            }
        });
    }
</script>