<div class="container">
    <div class="row">
        <div class="col">
            <p class="fs-2 text-secondary">Регистрация соревнования</p>
        </div>
    </div>
    <div class="row rounded-4 shadow">
        <div class="col-2 p-0 img-bg-control-2 rounded-start-4" style="overflow: hidden"></div>

        <form class="col-10 px-4" th:method="POST" th:action="@{/contest/second-step}" th:object="${contest}">
            <input type="number" th:field="*{id}" hidden>
            <div class="row">
                <p class="fs-3 text-secondary text-center">Общая оценка</p>
            </div>

            <div class="row">
                <div class="col">
                    <div class="d-grid gap-2 mb-3">
                        <button type="button" class="btn btn-outline-secondary btn-lg" data-bs-toggle="modal" data-bs-target="#subjects-modal">
                            Субъекты принявшие участие (Всего: <span id="span-data">0</span>)
                        </button>
                        <div class="modal fade" id="subjects-modal" tabindex="-1"
                             aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-xl">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Укажите субъекты</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="container">
                                            <div class="row">
                                                <div id="col-1" class="col"></div>
                                                <div id="col-2" class="col"></div>
                                                <div id="col-3" class="col"></div>
                                                <script th:inline="javascript">
                                                    let sl = [[${subjects}]];
                                                    let msl = [[${contest}]].totalSubjects;
                                                    let c1 = $('#col-1');
                                                    let c2 = $('#col-2');
                                                    let c3 = $('#col-3');
                                                    let d = sl.length / 3;
                                                    let character = '';

                                                    for(let i=0; i<sl.length; i++){
                                                        let check = false;
                                                        for(let j=0; j<msl.length; j++){
                                                            if(sl[i].id == msl[j]){
                                                                check = true;
                                                                break;
                                                            }
                                                        }
                                                        let isChecked = check ? 'checked' : '';

                                                        let s = sl[i].title[0];
                                                        if(i <= d){
                                                            if(character !== s){
                                                                c1.append(
                                                                    '<p><b>' + s + '</b></p>' +
                                                                    '<div class="form-check">\n' +
                                                                    '   <input class="form-check-input" type="checkbox" name="totalSubjects[' + i + ']" value="' + sl[i].id + '" ' + isChecked + '>\n' +
                                                                    '   <label class="form-check-label" th:text="${subject.getTitle()}">' + sl[i].title + '</label>\n' +
                                                                    '</div>'
                                                                );
                                                            }else{
                                                                c1.append(
                                                                    '<div class="form-check">\n' +
                                                                    '   <input class="form-check-input" type="checkbox" name="totalSubjects[' + i + ']" value="' + sl[i].id + '" ' + isChecked + '>\n' +
                                                                    '   <label class="form-check-label" th:text="${subject.getTitle()}">' + sl[i].title + '</label>\n' +
                                                                    '</div>'
                                                                );
                                                            }
                                                            character = s;
                                                        }else if(d < i && i <= (d * 2)){
                                                            if(character !== s){
                                                                c2.append(
                                                                    '<p><b>' + s + '</b></p>' +
                                                                    '<div class="form-check">\n' +
                                                                    '   <input class="form-check-input" type="checkbox" name="totalSubjects[' + i + ']" value="' + sl[i].id + '" ' + isChecked + '>\n' +
                                                                    '   <label class="form-check-label" th:text="${subject.getTitle()}">' + sl[i].title + '</label>\n' +
                                                                    '</div>'
                                                                );
                                                            }else{
                                                                c2.append(
                                                                    '<div class="form-check">\n' +
                                                                    '   <input class="form-check-input" type="checkbox" name="totalSubjects[' + i + ']" value="' + sl[i].id + '" ' + isChecked + '>\n' +
                                                                    '   <label class="form-check-label" th:text="${subject.getTitle()}">' + sl[i].title + '</label>\n' +
                                                                    '</div>'
                                                                );
                                                            }
                                                            character = s;
                                                        }else{
                                                            if(character !== s){
                                                                c3.append(
                                                                    '<p><b>' + s + '</b></p>' +
                                                                    '<div class="form-check">\n' +
                                                                    '   <input class="form-check-input" type="checkbox" name="totalSubjects[' + i + ']" value="' + sl[i].id + '" ' + isChecked + '>\n' +
                                                                    '   <label class="form-check-label" th:text="${subject.getTitle()}">' + sl[i].title + '</label>\n' +
                                                                    '</div>'
                                                                );
                                                            }else{
                                                                c3.append(
                                                                    '<div class="form-check">\n' +
                                                                    '   <input class="form-check-input" type="checkbox" name="totalSubjects[' + i + ']" value="' + sl[i].id + '" ' + isChecked + '>\n' +
                                                                    '   <label class="form-check-label" th:text="${subject.getTitle()}">' + sl[i].title + '</label>\n' +
                                                                    '</div>'
                                                                );
                                                            }
                                                            character = s;
                                                        }
                                                    }
                                                </script>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">
                                            Вернуться
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <script>
                            // Функция для обновления количества отмеченных чекбоксов
                            function updateCount() {
                                let checkboxes = document.querySelectorAll('.form-check-input');
                                let count = 0;
                                checkboxes.forEach((checkbox) => {
                                    if (checkbox.checked) {
                                        count++;
                                    }
                                });
                                document.getElementById('span-data').innerText = count;
                            }

                            $('#subjects-modal').on('shown.bs.modal', function () {
                                // Получаем все чекбоксы
                                let checkboxes = document.querySelectorAll('.form-check-input');

                                // Добавляем обработчик событий для каждого чекбокса
                                checkboxes.forEach((checkbox) => {
                                    checkbox.addEventListener('change', updateCount);
                                });

                                // Вызываем функцию при загрузке страницы, чтобы обновить счетчик
                                updateCount();
                            });

                            // Вызываем функцию при загрузке страницы
                            updateCount();
                        </script>
                    </div>
                </div>
            </div>

            <div class="row">
                <p class="text-center text-secondary fs-5">Выполнение спортивной квалификации согласно ЕВСК</p>
                <p class="text-center text-secondary"><small>*Укажите возраст</small></p>
            </div>

            <div class="row">
                <div class="col">
                    <div class="form-floating mb-3">
                        <input type="number" class="form-control" id="yn3Date" placeholder="yn3Date" th:field="*{yn3Date}">
                        <label for="yn3Date">Юношеский 3 разряд с</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-floating mb-3">
                        <input type="number" class="form-control" id="yn2Date" placeholder="yn2Date" th:field="*{yn2Date}">
                        <label for="yn2Date">Юношеский 2 разряд с</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-floating mb-3">
                        <input type="number" class="form-control" id="yn1Date" placeholder="yn1Date" th:field="*{yn1Date}">
                        <label for="yn1Date">Юношеский 1 разряд с</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-floating mb-3">
                        <input type="number" class="form-control" id="r3Date" placeholder="r3Date" th:field="*{r3Date}">
                        <label for="r3Date">3 разряд с</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-floating mb-3">
                        <input type="number" class="form-control" id="r2Date" placeholder="r2Date" th:field="*{r2Date}">
                        <label for="r2Date">2 разряд с</label>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="form-floating mb-3">
                        <input type="number" class="form-control" id="r1Date" placeholder="yn1Date" th:field="*{r1Date}">
                        <label for="r1Date">1 разряд с</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-floating mb-3">
                        <input type="number" class="form-control" id="kmsDate" placeholder="kmsDate" th:field="*{kmsDate}">
                        <label for="kmsDate">КМС с</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-floating mb-3">
                        <input type="number" class="form-control" id="msDate" placeholder="msDate" th:field="*{msDate}">
                        <label for="msDate">МС с</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-floating mb-3">
                        <input type="number" class="form-control" id="msmkDate" placeholder="msmkDate" th:field="*{msmkDate}">
                        <label for="msmkDate">МСМК с</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-floating mb-3">
                        <input type="number" class="form-control" id="zmsDate" placeholder="zmsDate" th:field="*{zmsDate}">
                        <label for="zmsDate">ЗМС с</label>
                    </div>
                </div>
            </div>

            <div class="row">
                <p class="text-center text-secondary fs-5">Оценка участников</p>
            </div>

            <div class="row">
                <div class="col">
                    <div class="form-floating mb-3">
                        <input type="number" class="form-control" id="participant-total" placeholder="participantTotal" th:field="*{participantTotal}">
                        <label for="participant-total">Всего участников</label>
                    </div>
                </div>

                <div class="col">
                    <div class="form-floating mb-3">
                        <input type="number" class="form-control" id="boy-total" placeholder="boy-total" th:field="*{boyTotal}">
                        <label for="boy-total">Участников <i class="bi bi-gender-male"></i></label>
                    </div>
                </div>

                <div class="col">
                    <div class="form-floating mb-3">
                        <input type="number" class="form-control" id="girl-total" placeholder="girl-total" th:field="*{girlTotal}">
                        <label for="girl-total">Участниц <i class="bi bi-gender-female"></i></label>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="form-floating mb-3">
                        <input type="number" class="form-control" id="br" placeholder="br" th:field="*{br}">
                        <label for="br">Без разрядов</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-floating mb-3">
                        <input type="number" class="form-control" id="yn3" placeholder="yn3" th:field="*{yn3}">
                        <label for="yn3">Третьих юношеских разрядов</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-floating mb-3">
                        <input type="number" class="form-control" id="yn2" placeholder="yn2" th:field="*{yn2}">
                        <label for="yn2">Вторых юношеских разрядов</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-floating mb-3">
                        <input type="number" class="form-control" id="yn1" placeholder="yn1" th:field="*{yn1}">
                        <label for="yn1">Первых юношеских разрядов</label>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="form-floating mb-3">
                        <input type="number" class="form-control" id="r3" placeholder="r3" th:field="*{r3}">
                        <label for="r3">Третьих разрядов</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-floating mb-3">
                        <input type="number" class="form-control" id="r2" placeholder="r2" th:field="*{r2}">
                        <label for="r2">Вторых разрядов</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-floating mb-3">
                        <input type="number" class="form-control" id="r1" placeholder="r1" th:field="*{r1}">
                        <label for="r1">Первых разрядов</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-floating mb-3">
                        <input type="number" class="form-control" id="kms" placeholder="kms" th:field="*{kms}">
                        <label for="kms">Кандидатов в мастера спорта</label>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="form-floating mb-3">
                        <input type="number" class="form-control" id="ms" placeholder="ms" th:field="*{ms}">
                        <label for="ms">Мастеров спорта</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-floating mb-3">
                        <input type="number" class="form-control" id="msmk" placeholder="msmk" th:field="*{msmk}">
                        <label for="msmk">Мастеров спорта международного класса</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-floating mb-3">
                        <input type="number" class="form-control" id="zms" placeholder="zms" th:field="*{zms}">
                        <label for="zms">Заслуженных мастеров спорта</label>
                    </div>
                </div>
            </div>

            <div class="row">
                <p class="text-center text-secondary fs-5">Оценка тренерского и судейского состава</p>
            </div>

            <div class="row">
                <div class="col">
                    <div class="form-floating mb-3">
                        <input type="number" class="form-control" id="trainerTotal" placeholder="trainerTotal" th:field="*{trainerTotal}">
                        <label for="trainerTotal">Всего тренеров (представителей)</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-floating mb-3">
                        <input type="number" class="form-control" id="judgeTotal" placeholder="judgeTotal" th:field="*{judgeTotal}">
                        <label for="judgeTotal">Всего судей</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-floating mb-3">
                        <input type="number" class="form-control" id="nonresidentJudge" placeholder="nonresidentJudge" th:field="*{nonresidentJudge}">
                        <label for="nonresidentJudge">Всего иногородних судей</label>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-2">
                    <div class="form-floating mb-3">
                        <input type="number" class="form-control" id="dc" placeholder="bc" th:field="*{dc}">
                        <label for="dc">Другое</label>
                    </div>
                </div>
                <div class="col-2">
                    <div class="form-floating mb-3">
                        <input type="number" class="form-control" id="bc" placeholder="bc" th:field="*{bc}">
                        <label for="bc">Судей без категории</label>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-floating mb-3">
                        <input type="number" class="form-control" id="vrc" placeholder="vrc" th:field="*{vrc}">
                        <label for="vrc">Судей ВРК</label>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-floating mb-3">
                        <input type="number" class="form-control" id="mc" placeholder="mc" th:field="*{mc}">
                        <label for="mc">Судей МК</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-floating mb-3">
                        <input type="number" class="form-control" id="tc" placeholder="tc" th:field="*{tc}">
                        <label for="tc">Судей 3 категории</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-floating mb-3">
                        <input type="number" class="form-control" id="sc" placeholder="fc" th:field="*{sc}">
                        <label for="sc">Судей 2 категории</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-floating mb-3">
                        <input type="number" class="form-control" id="fc" placeholder="fc" th:field="*{fc}">
                        <label for="fc">Судей 1 категории</label>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="row">
                        <p class="text-center text-secondary fs-5">Итоги соревнование по субъектам</p>
                    </div>
                    <div class="row mx-auto">
                        <div class="col">
                            <div class="row rounded-start-4" style="background-color: gold">
                                <div class="container d-flex justify-content-center align-items-center" style="height: 50px">
                                    <div class="mx-auto text-center fs-5 px-2 rounded-circle">
                                        <span class="text-center fs-5">1 место</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col pt-3" id="col-first-place">
                                    <div class="row">
                                        <div class="col-9">
                                            <div class="form-floating">
                                                <select id="select-first-place" class="form-select">
                                                    <option th:each="subject : ${subjects}" th:text="${subject.getTitle()}" th:value="${subject.getId()}"></option>
                                                </select>
                                                <label for="select-first-place">Субъект</label>
                                            </div>
                                        </div>
                                        <div class="col-3">
                                            <div class="d-grid d-flex justify-content-center align-items-center" style="height: 100%">
                                                <button class="btn btn-lg btn-outline-secondary" type="button" onclick="addFirstPlace()"><i class="bi bi-check-lg"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                    <div th:if="${contest.getFirstSubjects().size() > 0}">
                                        <div th:each="fp, fp_stat : ${contest.getFirstSubjects()}" class="row pt-3" th:id="'f-r-' + ${fp_stat.index}">
                                            <div class="col-9">
                                                <div class="form-floating">
                                                    <input class="form-control" type="text" th:value="${fp.getTitle()}" th:id="'f-' + ${fp_stat.index}" disabled>
                                                    <input class="form-control" th:id="'h-f-' + ${fp_stat.index}" type="number" th:field="*{firstPlace[__${fp_stat.index}__]}" hidden>
                                                    <script th:inline="javascript">
                                                        $('#h-f-' + [[${fp_stat.index}]]).val([[${fp}]].id);
                                                    </script>
                                                    <label th:for="'f-' + ${fp_stat.index}">Субъект</label>
                                                </div>
                                            </div>
                                            <div class="col-3">
                                                <div class="container d-flex justify-content-center align-items-center" style="height: 100%">
                                                    <button th:id="'f-del-' + ${fp_stat.index}" type="button" class="btn-close mx-auto text-center border" aria-label="Close" onclick="fDel(this.id)"></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="row" style="background-color: silver">
                                <div class="container d-flex justify-content-center align-items-center" style="height: 50px">
                                    <div class="mx-auto text-center fs-5 px-2 rounded-circle">
                                        <span class="text-center fs-5">2 место</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row border-start border-end">
                                <div class="col pt-3" id="col-second-place">
                                    <div class="row">
                                        <div class="col-9">
                                            <div class="form-floating">
                                                <select id="select-second-place" class="form-select">
                                                    <option th:each="subject : ${subjects}" th:text="${subject.getTitle()}" th:value="${subject.getId()}"></option>
                                                </select>
                                                <label for="select-second-place">Субъект</label>
                                            </div>
                                        </div>
                                        <div class="col-3">
                                            <div class="d-grid d-flex justify-content-center align-items-center" style="height: 100%">
                                                <button class="btn btn-lg btn-outline-secondary" type="button" onclick="addSecondPlace()"><i class="bi bi-check-lg"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                    <div th:if="${contest.getSecondSubjects().size() > 0}">
                                        <div th:each="sp, sp_stat : ${contest.getSecondSubjects()}" class="row pt-3" th:id="'s-r-' + ${sp_stat.index}">
                                            <div class="col-9">
                                                <div class="form-floating">
                                                    <input class="form-control" type="text" th:value="${sp.getTitle()}" th:id="'s-' + ${sp_stat.index}" disabled>
                                                    <input class="form-control" th:id="'h-s-' + ${sp_stat.index}" type="number" th:field="*{secondPlace[__${sp_stat.index}__]}" hidden>
                                                    <script th:inline="javascript">
                                                        $('#h-s-' + [[${sp_stat.index}]]).val([[${sp}]].id);
                                                    </script>
                                                    <label th:for="'s-' + ${sp_stat.index}">Субъект</label>
                                                </div>
                                            </div>
                                            <div class="col-3">
                                                <div class="container d-flex justify-content-center align-items-center" style="height: 100%">
                                                    <button th:id="'s-del-' + ${sp_stat.index}" type="button" class="btn-close mx-auto text-center border" aria-label="Close" onclick="sDel(this.id)"></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="row rounded-end-4" style="background-color: darkgoldenrod">
                                <div class="container d-flex justify-content-center align-items-center" style="height: 50px">
                                    <div class="mx-auto text-center fs-5 px-2 rounded-circle">
                                        <span class="text-center fs-5">3 место</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col pt-3" id="col-last-place">
                                    <div class="row">
                                        <div class="col-9">
                                            <div class="form-floating">
                                                <select id="select-last-place" class="form-select">
                                                    <option th:each="subject : ${subjects}" th:text="${subject.getTitle()}" th:value="${subject.getId()}"></option>
                                                </select>
                                                <label for="select-last-place">Субъект</label>
                                            </div>
                                        </div>
                                        <div class="col-3">
                                            <div class="d-grid d-flex justify-content-center align-items-center" style="height: 100%">
                                                <button class="btn btn-lg btn-outline-secondary" type="button" onclick="addLastPlace()"><i class="bi bi-check-lg"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                    <div th:if="${contest.getLastSubjects().size() > 0}">
                                        <div th:each="lp, lp_stat : ${contest.getLastSubjects()}" class="row pt-3" th:id="'l-r-' + ${lp_stat.index}">
                                            <div class="col-9">
                                                <div class="form-floating">
                                                    <input class="form-control" type="text" th:value="${lp.getTitle()}" th:id="'l-' + ${lp_stat.index}" disabled>
                                                    <input class="form-control" th:id="'h-l-' + ${lp_stat.index}" type="number" th:field="*{lastPlace[__${lp_stat.index}__]}" hidden>
                                                    <script th:inline="javascript">
                                                        $('#h-l-' + [[${lp_stat.index}]]).val([[${lp}]].id);
                                                    </script>
                                                    <label th:for="'l-' + ${lp_stat.index}">Субъект</label>
                                                </div>
                                            </div>
                                            <div class="col-3">
                                                <div class="container d-flex justify-content-center align-items-center" style="height: 100%">
                                                    <button th:id="'l-del-' + ${lp_stat.index}" type="button" class="btn-close mx-auto text-center border" aria-label="Close" onclick="lDel(this.id)"></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <script th:inline="javascript">
                            let subjects = [[${subjects}]];
                            let fCount = [[${contest.getFirstSubjects().size()}]];
                            let sCount = [[${contest.getSecondSubjects().size()}]];
                            let lCount = [[${contest.getLastSubjects().size()}]];
                            function addFirstPlace(){
                                let id = document.getElementById('select-first-place').value;
                                let subject;
                                for(let i=0; i<subjects.length; i++){
                                    if(subjects[i].id == id){
                                        subject = subjects[i];
                                    }
                                }
                                $('#col-first-place').append(
                                    '<div class="row pt-3" id="f-r-' + fCount + '">' +
                                    '   <div class="col-9">' +
                                    '       <div class="form-floating">\n' +
                                    '           <input class="form-control" type="text" value="' + subject.title + '" id="f-' + fCount + '" disabled>' +
                                    '           <input name="firstPlace[' + fCount + ']" class="form-control" type="number" value="' + subject.id + '" hidden>' +
                                    '           <label for="f-' + fCount + '">Субъект</label>' +
                                    '       </div>' +
                                    '   </div>' +
                                    '   <div class="col-3">' +
                                    '       <div class="container d-flex justify-content-center align-items-center" style="height: 100%">' +
                                    '           <button id="f-del-' + fCount + '" type="button" class="btn-close mx-auto text-center border" aria-label="Close" onclick="fDel(this.id)"></button>' +
                                    '       </div>' +
                                    '   </div>' +
                                    '</div>'
                                );

                                fCount++;
                                if(fCount >= 10){
                                    fCount = 0;
                                }
                            }

                            function fDel(id) {
                                let parts = id.split('-');
                                let index = parts[parts.length - 1];
                                let element = $('#f-r-' + index);
                                element.remove();
                            }

                            function addSecondPlace(){
                                let id = document.getElementById('select-second-place').value;
                                let subject;
                                for(let i=0; i<subjects.length; i++){
                                    if(subjects[i].id == id){
                                        subject = subjects[i];
                                    }
                                }
                                $('#col-second-place').append(
                                    '<div class="row pt-3" id="s-r-' + sCount + '">' +
                                    '   <div class="col-9">' +
                                    '       <div class="form-floating">\n' +
                                    '           <input class="form-control" type="text" value="' + subject.title + '" id="s-' + sCount + '" disabled>' +
                                    '           <input name="secondPlace[' + sCount + ']" class="form-control" type="number" value="' + subject.id + '" hidden>' +
                                    '           <label for="s-' + sCount + '">Субъект</label>' +
                                    '       </div>' +
                                    '   </div>' +
                                    '   <div class="col-3">' +
                                    '       <div class="container d-flex justify-content-center align-items-center" style="height: 100%">' +
                                    '           <button id="f-del-' + sCount + '" type="button" class="btn-close mx-auto text-center border" aria-label="Close" onclick="sDel(this.id)"></button>' +
                                    '       </div>' +
                                    '   </div>' +
                                    '</div>'
                                );

                                sCount++;
                                if(lCount >= 10){
                                    sCount = 0;
                                }
                            }

                            function sDel(id) {
                                let parts = id.split('-');
                                let index = parts[parts.length - 1];
                                let element = $('#s-r-' + index);
                                element.remove();
                            }

                            function addLastPlace(){
                                let id = document.getElementById('select-last-place').value;
                                let subject;
                                for(let i=0; i<subjects.length; i++){
                                    if(subjects[i].id == id){
                                        subject = subjects[i];
                                    }
                                }
                                $('#col-last-place').append(
                                    '<div class="row pt-3" id="l-r-' + lCount + '">' +
                                    '   <div class="col-9">' +
                                    '       <div class="form-floating">\n' +
                                    '           <input class="form-control" type="text" value="' + subject.title + '" id="l-' + lCount + '" disabled>' +
                                    '           <input name="lastPlace[' + lCount + ']" class="form-control" type="number" value="' + subject.id + '" hidden>' +
                                    '           <label for="l-' + lCount + '">Субъект</label>' +
                                    '       </div>' +
                                    '   </div>' +
                                    '   <div class="col-3">' +
                                    '       <div class="container d-flex justify-content-center align-items-center" style="height: 100%">' +
                                    '           <button id="f-del-' + lCount + '" type="button" class="btn-close mx-auto text-center border" aria-label="Close" onclick="lDel(this.id)"></button>' +
                                    '       </div>' +
                                    '   </div>' +
                                    '</div>'
                                );

                                lCount++;
                                if(lCount >= 10){
                                    lCount = 0;
                                }
                            }

                            function lDel(id) {
                                let parts = id.split('-');
                                let index = parts[parts.length - 1];
                                let element = $('#l-r-' + index);
                                element.remove();
                            }
                        </script>
                    </div>
                </div>
            </div>

            <div class="row p-4">
                <div class="d-grid gap-2 col-4 mx-auto">
                    <a class="btn btn-outline-secondary btn-lg" th:href="@{/contest/first-step(contest=${contest.getId()})}">Назад</a>
                </div>
                <div class="d-grid gap-2 col-4 mx-auto">
                    <input type="number" value="0" id="save" name="save" hidden>
                    <button class="btn btn-outline-secondary btn-lg" type="submit" onclick="document.getElementById('save').value = 1">Сохранить</button>
                </div>
                <div class="d-grid gap-2 col-4 mx-auto">
                    <button class="btn btn-outline-secondary btn-lg" type="submit">Далее</button>
                </div>
            </div>
        </form>
    </div>
</div>