<div class="container">
    <div class="row">
        <div class="col">
            <p class="fs-2 text-secondary">Регистрация соревнования</p>
        </div>
    </div>
    <div class="row rounded-4 shadow">
        <div class="col-3 p-0" style="overflow: hidden">
            <img class="img-ratio-control img-special-settings" src="/img/default-wallpaper.webp">
        </div>
        <form class="col-9 px-4" th:method="POST" th:action="@{/contest/second-step}" th:object="${contest}">
            <input type="number" th:field="*{id}" hidden>
            <div class="row">
                <p class="fs-3 text-secondary text-center">Общая оценка</p>
            </div>

            <div class="row">
                <div class="col">
                    <div class="d-grid gap-2 mb-3">
                        <button type="button" class="btn btn-outline-secondary btn-lg" data-bs-toggle="modal" data-bs-target="#subjects-modal">
                            Субъекты принявшие участие (Всего: <span id="span-data">0</span>)
                        </button>
                        <div class="modal fade" id="subjects-modal" tabindex="-1"
                             aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-xl">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Укажите субъекты</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="container">
                                            <div class="row">
                                                <div id="col-1" class="col"></div>
                                                <div id="col-2" class="col"></div>
                                                <div id="col-3" class="col"></div>
                                                <script th:inline="javascript">
                                                    let sl = [[${subjects}]];
                                                    let msl = [[${contest}]].totalSubjects;
                                                    let c1 = $('#col-1');
                                                    let c2 = $('#col-2');
                                                    let c3 = $('#col-3');
                                                    let d = sl.length / 3;
                                                    let character = '';

                                                    for(let i=0; i<sl.length; i++){
                                                        let check = false;
                                                        for(let j=0; j<msl.length; j++){
                                                            if(sl[i].id == msl[j]){
                                                                check = true;
                                                                break;
                                                            }
                                                        }
                                                        let isChecked = check ? 'checked' : '';

                                                        let s = sl[i].title[0];
                                                        if(i <= d){
                                                            if(character !== s){
                                                                c1.append(
                                                                    '<p><b>' + s + '</b></p>' +
                                                                    '<div class="form-check">\n' +
                                                                    '   <input class="form-check-input" type="checkbox" name="totalSubjects[' + i + ']" value="' + sl[i].id + '" ' + isChecked + '>\n' +
                                                                    '   <label class="form-check-label" th:text="${subject.getTitle()}">' + sl[i].title + '</label>\n' +
                                                                    '</div>'
                                                                );
                                                            }else{
                                                                c1.append(
                                                                    '<div class="form-check">\n' +
                                                                    '   <input class="form-check-input" type="checkbox" name="totalSubjects[' + i + ']" value="' + sl[i].id + '" ' + isChecked + '>\n' +
                                                                    '   <label class="form-check-label" th:text="${subject.getTitle()}">' + sl[i].title + '</label>\n' +
                                                                    '</div>'
                                                                );
                                                            }
                                                            character = s;
                                                        }else if(d < i && i <= (d * 2)){
                                                            if(character !== s){
                                                                c2.append(
                                                                    '<p><b>' + s + '</b></p>' +
                                                                    '<div class="form-check">\n' +
                                                                    '   <input class="form-check-input" type="checkbox" name="totalSubjects[' + i + ']" value="' + sl[i].id + '" ' + isChecked + '>\n' +
                                                                    '   <label class="form-check-label" th:text="${subject.getTitle()}">' + sl[i].title + '</label>\n' +
                                                                    '</div>'
                                                                );
                                                            }else{
                                                                c2.append(
                                                                    '<div class="form-check">\n' +
                                                                    '   <input class="form-check-input" type="checkbox" name="totalSubjects[' + i + ']" value="' + sl[i].id + '" ' + isChecked + '>\n' +
                                                                    '   <label class="form-check-label" th:text="${subject.getTitle()}">' + sl[i].title + '</label>\n' +
                                                                    '</div>'
                                                                );
                                                            }
                                                            character = s;
                                                        }else{
                                                            if(character !== s){
                                                                c3.append(
                                                                    '<p><b>' + s + '</b></p>' +
                                                                    '<div class="form-check">\n' +
                                                                    '   <input class="form-check-input" type="checkbox" name="totalSubjects[' + i + ']" value="' + sl[i].id + '" ' + isChecked + '>\n' +
                                                                    '   <label class="form-check-label" th:text="${subject.getTitle()}">' + sl[i].title + '</label>\n' +
                                                                    '</div>'
                                                                );
                                                            }else{
                                                                c3.append(
                                                                    '<div class="form-check">\n' +
                                                                    '   <input class="form-check-input" type="checkbox" name="totalSubjects[' + i + ']" value="' + sl[i].id + '" ' + isChecked + '>\n' +
                                                                    '   <label class="form-check-label" th:text="${subject.getTitle()}">' + sl[i].title + '</label>\n' +
                                                                    '</div>'
                                                                );
                                                            }
                                                            character = s;
                                                        }
                                                    }
                                                </script>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">
                                            Вернуться
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <script>
                            // Функция для обновления количества отмеченных чекбоксов
                            function updateCount() {
                                let checkboxes = document.querySelectorAll('.form-check-input');
                                let count = 0;
                                checkboxes.forEach((checkbox) => {
                                    if (checkbox.checked) {
                                        count++;
                                    }
                                });
                                document.getElementById('span-data').innerText = count;
                            }

                            $('#subjects-modal').on('shown.bs.modal', function () {
                                // Получаем все чекбоксы
                                let checkboxes = document.querySelectorAll('.form-check-input');

                                // Добавляем обработчик событий для каждого чекбокса
                                checkboxes.forEach((checkbox) => {
                                    checkbox.addEventListener('change', updateCount);
                                });

                                // Вызываем функцию при загрузке страницы, чтобы обновить счетчик
                                updateCount();
                            });

                            // Вызываем функцию при загрузке страницы
                            updateCount();
                        </script>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="form-floating mb-3">
                        <input type="number" class="form-control" id="participant-total" placeholder="participantTotal" th:field="*{participantTotal}">
                        <label for="participant-total">Всего участников</label>
                    </div>
                </div>

                <div class="col">
                    <div class="form-floating mb-3">
                        <input type="number" class="form-control" id="boy-total" placeholder="boy-total" th:field="*{boyTotal}">
                        <label for="boy-total">Участников <i class="bi bi-gender-male"></i></label>
                    </div>
                </div>

                <div class="col">
                    <div class="form-floating mb-3">
                        <input type="number" class="form-control" id="girl-total" placeholder="girl-total" th:field="*{girlTotal}">
                        <label for="girl-total">Участников <i class="bi bi-gender-female"></i></label>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="form-floating mb-3">
                        <input type="number" class="form-control" id="br" placeholder="br" th:field="*{br}">
                        <label for="br">Без разрядов</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-floating mb-3">
                        <input type="number" class="form-control" id="yn1" placeholder="yn1" th:field="*{yn1}">
                        <label for="yn1">Первых юношеских разрядов</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-floating mb-3">
                        <input type="number" class="form-control" id="yn2" placeholder="yn2" th:field="*{yn2}">
                        <label for="yn2">Вторых юношеских разрядов</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-floating mb-3">
                        <input type="number" class="form-control" id="yn3" placeholder="yn3" th:field="*{yn3}">
                        <label for="yn3">Третьих юношеских разрядов</label>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="form-floating mb-3">
                        <input type="number" class="form-control" id="r1" placeholder="r1" th:field="*{r1}">
                        <label for="r1">Первых разрядов</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-floating mb-3">
                        <input type="number" class="form-control" id="r2" placeholder="r2" th:field="*{r2}">
                        <label for="r2">Вторых разрядов</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-floating mb-3">
                        <input type="number" class="form-control" id="r3" placeholder="r3" th:field="*{r3}">
                        <label for="r3">Третьих разрядов</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-floating mb-3">
                        <input type="number" class="form-control" id="kms" placeholder="kms" th:field="*{kms}">
                        <label for="kms">Кандидатов в мастера спорта</label>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="form-floating mb-3">
                        <input type="number" class="form-control" id="ms" placeholder="ms" th:field="*{ms}">
                        <label for="ms">Мастеров спорта</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-floating mb-3">
                        <input type="number" class="form-control" id="msmk" placeholder="msmk" th:field="*{msmk}">
                        <label for="msmk">Мастеров спорта международного класса</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-floating mb-3">
                        <input type="number" class="form-control" id="zms" placeholder="zms" th:field="*{zms}">
                        <label for="zms">Заслуженных мастеров спорта</label>
                    </div>
                </div>
            </div>

            <div class="row pt-4">
                <div class="d-grid gap-2 col-4 mx-auto">
                    <a class="btn btn-outline-secondary btn-lg" th:href="@{/contest/first-step(contest=${contest.getId()})}">Назад</a>
                </div>
                <div class="col-4"></div>
                <div class="d-grid gap-2 col-4 mx-auto">
                    <button class="btn btn-outline-secondary btn-lg" type="submit">Далее</button>
                </div>
            </div>
        </form>
    </div>
</div>