<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col-6 text-center py-5">
            <h1>
                <small class="text-body-secondary">
                    Детальное состояние базы данных "Субъекты"
                </small>
            </h1>
            <h4 th:object="${baseSportForm}">
                <small class="text-danger" th:if="${#fields.hasErrors('expiration')}" th:errors="*{expiration}"></small>
                <small class="text-danger" th:if="${#fields.hasErrors('issueDate')}" th:errors="*{issueDate}"></small>
            </h4>
            <h4 th:object="${schoolForm}">
                <small class="text-danger" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></small>
                <small class="text-danger" th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></small>
            </h4>
            <h4 th:object="${subjectForm}">
                <small class="text-danger" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></small>
                <small class="text-danger" th:if="${#fields.hasErrors('iso')}" th:errors="*{iso}"></small>
            </h4>
        </div>
        <div class="col"></div>
    </div>
    <div class="row">
        <div class="col"></div>
        <div class="col-6">
            <ul class="pagination pagination-sm justify-content-center">
                <li class="page-item active" aria-current="page" th:if="${letter} == 'А'">
                    <span class="page-link">А</span>
                </li>
                <li class="page-item" th:if="${letter} != 'А'">
                    <a class="page-link" th:href="@{/database/subject/А}" >А</a>
                </li>
                <li class="page-item active" aria-current="page" th:if="${letter} == 'Б'">
                    <span class="page-link">Б</span>
                </li>
                <li class="page-item" th:if="${letter} != 'Б'">
                    <a class="page-link" th:href="@{/database/subject/Б}" >Б</a>
                </li>
                <li class="page-item active" aria-current="page" th:if="${letter} == 'В'">
                    <span class="page-link">В</span>
                </li>
                <li class="page-item" th:if="${letter} != 'В'">
                    <a class="page-link" th:href="@{/database/subject/В}">В</a>
                </li>
                <li class="page-item active" aria-current="page" th:if="${letter} == 'Г'">
                    <span class="page-link">Г</span>
                </li>
                <li class="page-item" th:if="${letter} != 'Г'">
                    <a class="page-link" th:href="@{/database/subject/Г}">Г</a>
                </li>
                <li class="page-item active" aria-current="page" th:if="${letter} == 'Д'">
                    <span class="page-link">Д</span>
                </li>
                <li class="page-item" th:if="${letter} != 'Д'">
                    <a class="page-link" th:href="@{/database/subject/Д}">Д</a>
                </li>
                <li class="page-item active" aria-current="page" th:if="${letter} == 'Е'">
                    <span class="page-link">Е</span>
                </li>
                <li class="page-item" th:if="${letter} != 'Е'">
                    <a class="page-link" th:href="@{/database/subject/Е}">Е</a>
                </li>
                <li class="page-item active" aria-current="page" th:if="${letter} == 'Ё'">
                    <span class="page-link">Ё</span>
                </li>
                <li class="page-item" th:if="${letter} != 'Ё'">
                    <a class="page-link" th:href="@{/database/subject/Ё}" >Ё</a>
                </li>
                <li class="page-item active" aria-current="page" th:if="${letter} == 'Ж'">
                    <span class="page-link">Ж</span>
                </li>
                <li class="page-item" th:if="${letter} != 'Ж'">
                    <a class="page-link" th:href="@{/database/subject/Ж}">Ж</a>
                </li>
                <li class="page-item active" aria-current="page" th:if="${letter} == 'З'">
                    <span class="page-link">З</span>
                </li>
                <li class="page-item" th:if="${letter} != 'З'">
                    <a class="page-link" th:href="@{/database/subject/З}">З</a>
                </li>
                <li class="page-item active" aria-current="page" th:if="${letter} == 'И'">
                    <span class="page-link">И</span>
                </li>
                <li class="page-item" th:if="${letter} != 'И'">
                    <a class="page-link" th:href="@{/database/subject/И}">И</a>
                </li>
                <li class="page-item active" aria-current="page" th:if="${letter} == 'Й'">
                    <span class="page-link">Й</span>
                </li>
                <li class="page-item" th:if="${letter} != 'Й'">
                    <a class="page-link" th:href="@{/database/subject/Й}">Й</a>
                </li>
                <li class="page-item active" aria-current="page" th:if="${letter} == 'К'">
                    <span class="page-link">К</span>
                </li>
                <li class="page-item" th:if="${letter} != 'К'">
                    <a class="page-link" th:href="@{/database/subject/К}">К</a>
                </li>
                <li class="page-item active" aria-current="page" th:if="${letter} == 'Л'">
                    <span class="page-link">Л</span>
                </li>
                <li class="page-item" th:if="${letter} != 'Л'">
                    <a class="page-link" th:href="@{/database/subject/Л}">Л</a>
                </li>
                <li class="page-item active" aria-current="page" th:if="${letter} == 'М'">
                    <span class="page-link">М</span>
                </li>
                <li class="page-item" th:if="${letter} != 'М'">
                    <a class="page-link" th:href="@{/database/subject/М}">М</a>
                </li>
                <li class="page-item active" aria-current="page" th:if="${letter} == 'Н'">
                    <span class="page-link">Н</span>
                </li>
                <li class="page-item" th:if="${letter} != 'Н'">
                    <a class="page-link" th:href="@{/database/subject/Н}">Н</a>
                </li>
                <li class="page-item active" aria-current="page" th:if="${letter} == 'О'">
                    <span class="page-link">О</span>
                </li>
                <li class="page-item" th:if="${letter} != 'О'">
                    <a class="page-link" th:href="@{/database/subject/О}">О</a>
                </li>
                <li class="page-item active" aria-current="page" th:if="${letter} == 'П'">
                    <span class="page-link">П</span>
                </li>
                <li class="page-item" th:if="${letter} != 'П'">
                    <a class="page-link" th:href="@{/database/subject/П}">П</a>
                </li>
                <li class="page-item active" aria-current="page" th:if="${letter} == 'Р'">
                    <span class="page-link">Р</span>
                </li>
                <li class="page-item" th:if="${letter} != 'Р'">
                    <a class="page-link" th:href="@{/database/subject/Р}">Р</a>
                </li>
                <li class="page-item active" aria-current="page" th:if="${letter} == 'С'">
                    <span class="page-link">С</span>
                </li>
                <li class="page-item" th:if="${letter} != 'С'">
                    <a class="page-link" th:href="@{/database/subject/С}">С</a>
                </li>
                <li class="page-item active" aria-current="page" th:if="${letter} == 'Т'">
                    <span class="page-link">Т</span>
                </li>
                <li class="page-item" th:if="${letter} != 'Т'">
                    <a class="page-link" th:href="@{/database/subject/Т}">Т</a>
                </li>
                <li class="page-item active" aria-current="page" th:if="${letter} == 'У'">
                    <span class="page-link">У</span>
                </li>
                <li class="page-item" th:if="${letter} != 'У'">
                    <a class="page-link" th:href="@{/database/subject/У}">У</a>
                </li>
                <li class="page-item active" aria-current="page" th:if="${letter} == 'Ф'">
                    <span class="page-link">Ф</span>
                </li>
                <li class="page-item" th:if="${letter} != 'Ф'">
                    <a class="page-link" th:href="@{/database/subject/Ф}">Ф</a>
                </li>
                <li class="page-item active" aria-current="page" th:if="${letter} == 'Х'">
                    <span class="page-link">Х</span>
                </li>
                <li class="page-item" th:if="${letter} != 'Х'">
                    <a class="page-link" th:href="@{/database/subject/Х}">Х</a>
                </li>
                <li class="page-item active" aria-current="page" th:if="${letter} == 'Ц'">
                    <span class="page-link">Ц</span>
                </li>
                <li class="page-item" th:if="${letter} != 'Ц'">
                    <a class="page-link" th:href="@{/database/subject/Ц}">Ц</a>
                </li>
                <li class="page-item active" aria-current="page" th:if="${letter} == 'Ч'">
                    <span class="page-link">Ч</span>
                </li>
                <li class="page-item" th:if="${letter} != 'Ч'">
                    <a class="page-link" th:href="@{/database/subject/Ч}">Ч</a>
                </li>
                <li class="page-item active" aria-current="page" th:if="${letter} == 'Ш'">
                    <span class="page-link">Ш</span>
                </li>
                <li class="page-item" th:if="${letter} != 'Ш'">
                    <a class="page-link" th:href="@{/database/subject/Ш}">Ш</a>
                </li>
                <li class="page-item active" aria-current="page" th:if="${letter} == 'Щ'">
                    <span class="page-link">Щ</span>
                </li>
                <li class="page-item" th:if="${letter} != 'Щ'">
                    <a class="page-link" th:href="@{/database/subject/Щ}">Щ</a>
                </li>
                <li class="page-item active" aria-current="page" th:if="${letter} == 'Ъ'">
                    <span class="page-link">Ъ</span>
                </li>
                <li class="page-item" th:if="${letter} != 'Ъ'">
                    <a class="page-link" th:href="@{/database/subject/Ъ}">Ъ</a>
                </li>
                <li class="page-item active" aria-current="page" th:if="${letter} == 'Ы'">
                    <span class="page-link">Ы</span>
                </li>
                <li class="page-item" th:if="${letter} != 'Ы'">
                    <a class="page-link" th:href="@{/database/subject/Ы}">Ы</a>
                </li>
                <li class="page-item active" aria-current="page" th:if="${letter} == 'Ь'">
                    <span class="page-link">Ь</span>
                </li>
                <li class="page-item" th:if="${letter} != 'Ь'">
                    <a class="page-link" th:href="@{/database/subject/Ь}">Ь</a>
                </li>
                <li class="page-item active" aria-current="page" th:if="${letter} == 'Э'">
                    <span class="page-link">Э</span>
                </li>
                <li class="page-item" th:if="${letter} != 'Э'">
                    <a class="page-link" th:href="@{/database/subject/Э}">Э</a>
                </li>
                <li class="page-item active" aria-current="page" th:if="${letter} == 'Ю'">
                    <span class="page-link">Ю</span>
                </li>
                <li class="page-item" th:if="${letter} != 'Ю'">
                    <a class="page-link" th:href="@{/database/subject/Ю}">Ю</a>
                </li>
                <li class="page-item active" aria-current="page" th:if="${letter} == 'Я'">
                    <span class="page-link">Я</span>
                </li>
                <li class="page-item" th:if="${letter} != 'Я'">
                    <a class="page-link" th:href="@{/database/subject/Я}">Я</a>
                </li>
            </ul>
        </div>
        <div class="col"></div>
    </div>
    <div class="row">
        <div class="col">
            <div class="accordion">
                <div class="accordion-item" th:each="subject, subject_stat : ${subjects}">
                    <h2 class="accordion-header">
                        <button th:id="'btn-0-' + ${subject_stat.index}" class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse" aria-expanded="false" aria-controls="collapse">
                            <div class="container">
                                <div class="row">
                                    <div class="col">
                                        <span th:text="${subject.getTitle()}"></span>
                                    </div>
                                    <div class="col">
                                        <span th:text="${subject.getFederalDistrict().getTitle}"></span>
                                    </div>
                                    <div class="col">
                                        <span class="muted float-end">
                                            <span data-bs-toggle="tooltip" data-bs-title="У субъекта отсутствуют базовые виды спорта" th:if="${subject.getBaseSports().size() == 0}"><i class="bi bi-info-circle fs-4 text-warning"></i></span>
                                            <span data-bs-toggle="tooltip" data-bs-title="У субъекта отсутствуют спортивные организации" th:if="${subject.getSchools().size() == 0}"><i class="bi bi-building-dash fs-4 text-warning"></i></span>
                                            <span th:id="'sub-w-' + ${subject_stat.index}" data-bs-toggle="tooltip" data-bs-title="У некоторых организаций отсутствуют спортсмены" hidden><i class="bi bi-person-exclamation fs-4 text-primary"></i></span>
                                            <span data-bs-toggle="tooltip" data-bs-title="Отсутствует ISO! Обновите ISO согласно Википедии - ISO-3166-2:RU" th:if="${subject.getIso() == null}"><i class="bi bi-globe-central-south-asia fs-4 text-danger"></i></span>
                                            <span th:id="'sub-w-2-' + ${subject_stat.index}" data-bs-toggle="tooltip" data-bs-title="У некоторых организаций отсутствует адрес" hidden><i class="bi bi-question-square fs-4 text-warning"></i></span>
                                            <span th:id="'subject-school-danger-' + ${subject_stat.index}" data-bs-toggle="tooltip" data-bs-title="У некоторых организаций есть спортсмены у которых отсутствуют важные данные такие как Фамилия или Имя" hidden><i class="bi bi-person-vcard fs-4 text-danger"></i></span>
                                            <span th:id="'bs-date-error-' + ${subject_stat.index}" data-bs-toggle="tooltip" data-bs-title="У субъекта есть просроченные базовые виды спорта" hidden><i class="bi bi-clock-history fs-4 text-danger"></i></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </button>
                    </h2>
                    <div th:id="'collapse-0-' + ${subject_stat.index}" class="accordion-collapse collapse">
                        <div class="accordion-body">

                            <!-- БЫСТРОЕ ОБНОВЛЕНИЕ ДАННЫХ СУБЪЕКТА -->
                            <div class="row rounded-4 shadow m-4">
                                <!-- Картинка -->
                                <div class="col-3 p-0 img-bg-control-3 rounded-start-4" style="overflow: hidden">
                                </div>
                                <!-- Форма -->
                                <div class="col-9 px-4">
                                    <form th:method="POST" th:action="@{/database/subject/{letter}/title/update(letter=${letter})}" th:object="${subjectForm}">
                                        <input th:id="'sub-h-2-1-' + ${subject_stat.index}" type="number" th:field="*{id}" hidden>
                                        <script th:inline="javascript">
                                            document.getElementById('sub-h-2-1-' + [[${subject_stat.index}]]).value = [[${subject}]].id;
                                        </script>
                                        <div class="row pt-4">
                                            <div class="col-8">
                                                <div class="form-floating">
                                                    <input th:id="'sub-in-0-1-' + ${subject_stat.index}" type="text" class="form-control" placeholder="title" th:field="*{title}">
                                                    <script th:inline="javascript">
                                                        document.getElementById('sub-in-0-1-' + [[${subject_stat.index}]]).value = [[${subject}]].title;
                                                    </script>
                                                    <label th:for="'sub-in-0-1-' + ${subject_stat.index}">Название субъекта</label>
                                                </div>
                                            </div>
                                            <div class="col-4 d-flex align-items-center">
                                                <div class="d-grid gap-2" style="width: 100%">
                                                    <input class="btn btn-lg btn-outline-secondary" type="submit" value="Обновить">
                                                </div>
                                            </div>
                                        </div>
                                    </form>

                                    <form th:method="POST" th:action="@{/database/subject/{letter}/iso/update(letter=${letter})}" th:object="${subjectForm}">
                                        <input th:id="'sub-h-2-2-' + ${subject_stat.index}" type="number" th:field="*{id}" hidden>
                                        <script th:inline="javascript">
                                            document.getElementById('sub-h-2-2-' + [[${subject_stat.index}]]).value = [[${subject}]].id;
                                        </script>
                                        <div class="row py-4">
                                            <div class="col-8">
                                                <div class="form-floating">
                                                    <input th:id="'sub-in-1-1-' + ${subject_stat.index}" type="text" class="form-control" th:field="*{iso}">
                                                    <script th:inline="javascript">
                                                        document.getElementById('sub-in-1-1-' + [[${subject_stat.index}]]).value = [[${subject}]].iso;
                                                    </script>
                                                    <label th:for="'sub-in-1-1-' + ${subject_stat.index}">ISO-3166</label>
                                                </div>
                                            </div>
                                            <div class="col-4 d-flex align-items-center">
                                                <div class="d-grid gap-2" style="width: 100%">
                                                    <input class="btn btn-lg btn-outline-secondary" type="submit" value="Обновить">
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <!-- КОНЕЦ -->

                            <!-- КРАСТКОЕ ОПИСАНИЕ ДАННЫХ -->
                            <div class="row">
                                <div class="col - 6">
                                    <p class="fs-4 text-center">Базовые виды спорта субъекта<span th:text="' | Всего: ' + ${subject.getBaseSports().size()}"></span></p>
                                    <p class="text-center" th:if="${subject.getBaseSports().size()} == 0">У данного субъекта отсутствуют базовые виды спорта</p>
                                </div>
                                <div class="col-6">
                                    <p class="fs-4 text-center">Спортивные организации субъекта<span th:text="' | Всего: ' + ${subject.getSchools().size()}"></span></p>
                                    <p class="text-center" th:if="${subject.getSchools.size()} == 0">У данного субъекта отсутствуют спортивные организации</p>
                                </div>
                            </div>
                            <!-- КОНЕЦ -->

                            <script th:inline="javascript">
                                [[${subject.getBaseSports()}]].forEach(function (baseSport){
                                    if(baseSport.issueDateError){
                                        document.getElementById('bs-date-error-' + [[${subject_stat.index}]]).hidden = false;
                                    }
                                });

                                [[${subject.getSchools()}]].forEach(function (school){
                                    if(school.participants.length == 0){
                                        document.getElementById('sub-w-' + [[${subject_stat.index}]]).hidden = false;
                                    }
                                    if(school.address == null){
                                        document.getElementById('sub-w-2-' + [[${subject_stat.index}]]).hidden = false;
                                    }
                                    school.participants.forEach(function (p){
                                        if(p.name == '' || p.lastname == ''){
                                            document.getElementById('subject-school-danger-' + [[${subject_stat.index}]]).hidden = false
                                        }
                                    });
                                });
                            </script>
                            <div class="container">
                                <div class="row">
                                    <div class="col-6">
                                        <div class="d-grid gap-2 my-4">
                                            <a class="btn btn-lg btn-outline-secondary" th:href="@{/database/subject/show(subject=${subject.id}, letter=${letter})}">Посмотреть детали</a>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="d-grid gap-2 my-4">
                                            <button th:id="'subject-delete-button-' + ${subject_stat.index}" type="button" class="btn btn-lg btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#modal">Удалить регион</button>
                                            <div class="modal fade" th:id="'subject-delete-modal-' + ${subject_stat.index}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h1 class="modal-title fs-5">Внимание! Вы хотите удалить <span th:text="${subject.getTitle()}"></span>?</h1>
                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <p>
                                                                Вы собираетесь удалить целый субъект <span th:text="${subject.getTitle()}"></span>! Это означает что так же будут удалены все спортивные организации региона и все базовые виды спорта. А участники окажутся без организации и субъекта. Вы уверены?
                                                            </p>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                                                            <form th:method="GET" th:action="@{/database/subject/{letter}/delete/{subjectId}(letter=${letter},subjectId=${subject.getId()})}">
                                                                <button type="submit" class="btn btn-primary">Подтвердить</button>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <script th:inline="javascript">
                                                document.getElementById('subject-delete-button-' + [[${subject_stat.index}]]).setAttribute('data-bs-target','#subject-delete-modal-' + [[${subject_stat.index}]])
                                            </script>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <script th:inline="javascript">
                        document.getElementById('btn-0-' + [[${subject_stat.index}]]).setAttribute('data-bs-target','#collapse-0-' + [[${subject_stat.index}]])
                    </script>
                </div>
            </div>
        </div>
    </div>

    <div class="row rounded-4 shadow m-4">
        <!-- Картинка -->
        <div class="col-3 p-0 img-bg-control-1 rounded-start-4" style="overflow: hidden">
        </div>
        <!-- Форма -->
        <div class="col-9 px-4">
            <form th:method="POST" th:action="@{/database/subject/{letter}/add(letter = ${letter})}" th:object="${subjectForm}">
                <div class="row pt-4">
                    <div class="col">
                        <div class="form-floating">
                            <input id="input-title" type="text" class="form-control" placeholder="Введите название субъекта" th:field="*{title}">
                            <label for="input-title">Название субъекта</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-floating">
                            <input id="input-iso" type="text" class="form-control" placeholder="Согласно справочнику ISO-3166" th:field="*{iso}">
                            <label for="input-iso">ISO-3166</label>
                        </div>
                    </div>
                </div>
                <div class="row py-4">
                    <div class="col">
                        <div class="form-floating">
                            <select id="select-district" class="form-select" th:field="*{federalDistrict}">
                                <option th:each="f : ${federals}" th:value="${f}" th:text="${f.getTitle()}"></option>
                            </select>
                            <label for="select-district">Федеральный округ</label>
                        </div>
                    </div>
                    <div class="col d-flex align-items-center">
                        <div class="d-grid gap-2" style="width: 100%">
                            <input class="btn btn-lg btn-outline-secondary" type="submit" value="Добавить">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>