<nav class="py-2 bg-dark-subtle border-bottom">
    <div class="container d-flex flex-wrap">
        <ul class="nav me-auto">
            <li class="nav-item" th:if="${auth}">
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbarDark" aria-controls="offcanvasNavbarDark" aria-label="Toggle navigation">
                    <i class="bi bi-list fs-1"></i>
                </button>
            </li>
        </ul>
        <ul class="nav">
            <form id="logoutForm" method="post" th:action="@{/logout}"></form>
            <li class="nav-item"><a th:href="@{/auth/user/profile}" class="nav-link link-body-emphasis px-2" th:if="${auth}">Профиль</a></li>
            <li class="nav-item"><a th:href="@{/auth/login}" class="nav-link link-body-emphasis px-2" th:if="${!auth}">Вход</a></li>
            <li class="nav-item"><a href="#" class="nav-link link-body-emphasis px-2" th:if="${auth}" onclick="document.getElementById('logoutForm').submit()">Выход</a></li>
            <li class="nav-item"><a th:href="@{/auth/user/reg}" class="nav-link link-body-emphasis px-2" th:if="${!auth}">Регистрация</a></li>
        </ul>
    </div>
</nav>
<header class="py-3 mb-4 border-bottom">
    <div class="container d-flex flex-wrap justify-content-center">
        <a th:href="@{/}" class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto link-body-emphasis text-decoration-none">
            <i class="bi bi-globe" style="font-size: 32px"></i>
            <span class="fs-4" style="margin-left: 1vh">Sport data</span>
        </a>
        <!--<form class="col-12 col-lg-auto mb-3 mb-lg-0" role="search">
            <input type="search" class="form-control" placeholder="Поиск..." aria-label="Search">
        </form>-->
    </div>
</header>